[2021-01-29 05:06] sbassett opened #1 "Baseline year shift to 2016 from 2010/2000"
Our carbon inventory represents 2016, the model needs to accommodate that.

[2021-01-29 05:17] sbassett opened #2 "Naming conventions and contents for "Carbon GIS raw data files""
It seems like these files (e.g. NWLAND\raw_data\gss_soc_tpha_sp9_own9_2010lt15_stats.csv) have a specific naming convention.

For this example, it seems like the filename convention is <source>_<poolCode>_<units>_????_????_YYYY????_stats.csv

Six of the files have an "_se_" added that isn't documented. There are seven carbon pools and 13 files. Seven files have no "_se_" and six do. What are the f

[2021-01-29 05:33] sbassett opened #3 "Hardcoded parameters set in an input file"
Use case: I expect we will be changing the annual increase in high-severity fire as proportion of the total area burned to reflect different climate conditions. Rather than changing the code between runs, it would be nice to have the changes documented in the scenario inputs.

[2021-01-29 06:00] sbassett opened #4 "How is the reforestation pathway implemented?"
As a pathway to study as an example, this one seems like a good balance between simple and complex. The shrubToForest conversion seems interesting, and the calculation of treatable area using a distance from edge of burn metric seems interesting.

[2021-01-29 18:49] sbassett opened #5 "Pick Projection for Data Grid"
My first hunch was to use UTM13 on NAD83, but now I'm wondering if an equal area projection is better-suited for these area-based calculations?

CALAND's grid uses a custom Alber_Equal_Area projection:

`Authority: Custom`

`false_easting: 0.0`
`false_northing: -4000000.0`
`central_meridian: -120.0`
`standard_parallel_1: 34.0`
`standard_parallel_2: 40.5`
`latitude_of_origin: 0.0`
`Linear Unit: Met

[2021-01-30 08:23] aj1s opened #6 "R pkgs ‘XLConnect’ and dependency ‘rJava’ require installation (on Windows) of 64-bit Java / JRE"
No code changes required to address this issue.

[2021-01-30 08:26] aj1s opened #7 "java.lang.OutOfMemoryError: Java heap space | java.lang.IOError: Java heap space"
Warning message:
‘rJava’ namespace cannot be unloaded:
namespace ‘rJava’ is imported by ‘XLConnect’ so cannot be unloaded

[2021-01-30 08:27] aj1s opened #8 "Error: IOException (Java): Java heap space"

[2021-01-30 08:57] #7 closed

[2021-01-30 08:57] #8 closed

[2021-02-01 00:03] aj1s opened #9 "plot_scene_types.r | Error: Insufficient values in manual scale. 15 needed but only 2 provided."
Incidentally, in the text for test runs in the CALAND documentation (https://github.com/aldivi/caland#instructions-for-your-first-test-runs-with-caland), a dbl quote is needed before 'Water':

plot_scen_types(varname = "All_orgC_stock_diff", ylabel = "Change from Baseline (MMTC)", data_dir = "./outputs", file_tag = "", reg = c("All_region"), lt = c(Water", "Ice", "Barren", "Sparse", "Desert", "Shr

[2021-02-01 20:35] sbassett commented on #6
This dependency requires Java JRE. Document this dependency or change the package to one that doesn't require JRE.

[2021-02-03 22:32] sbassett commented on #5
Discussion at technical team meeting: TC suggests UTM for visualization only. TC would prefer to use a continental equal area projection without producing a local "north up" grid. LANDFIRE data are natively in "USGS Albers Equal Area Conic": https://landfire.gov/faq.php?faq_id=274&sort_id=1. That will be the standard projection used for this project.

[2021-02-05 18:35] sbassett commented on #5
Is there any benefit to using a custom local equal area projection?

[2021-02-08 20:33] sbassett opened #10 "NWLAND Parameter Table"
Document input data and parameters required to run NWLAND:

- [x] Map development process from GIS (or lit) first to "raw" data, then to direct CALAND input data.
- [x] Field definitions
- [x] Carbon parameters summary
- [x] Pathway areas / fractions

https://tnc.box.com/s/b6d9emj56a3emwtw8wc86gzin9gn56y4

[2021-02-08 20:42] sbassett opened #11 "Technical Team Initiated on GitHub"
Every technical team member GitHub.
- [x] Steve
- [x] Aaron
- [x] Teresa

[2021-02-08 20:53] sbassett opened #12 "Model Development Milestones Document Drafted"
https://tnc.box.com/s/pfoxd8g7q5gmlypzl84vfbo3ra4lviqw

draft milestones and tasks here for uploading to GitHub laster

[2021-02-08 20:58] sbassett opened #13 "Document Proposed Methods"
[https://tnc.box.com/s/oemgbvzpgjkap5hz6br7e2xy8d8kw5in](https://tnc.box.com/s/oemgbvzpgjkap5hz6br7e2xy8d8kw5in)

- [ ] Carbon Inventory
- [ ] Pathway F1: Reforestation
- [ ] Pathway F2: Fire Regime Restoration
- [ ] ...add all minimum-viable pathways to this list once finalized

[2021-02-10 17:40] sbassett commented on #5
Is there any downside to using a custom equal area projection with north up so we can use the same projection for display and analysis? UTM13N appears to be sufficient for both analysis and visualization. Area distortion is less than 0.2% on average, with a maximum error of -0.2493%.

If zero areal distortion is desired, a custom projection could be used such as:
PROJCS["USA_Contiguous_Albers_Equa

[2021-02-16 11:15] sbassett opened #14 "Get DOI for release versions"
https://guides.github.com/activities/citable-code/

[2021-02-18 18:21] sbassett opened #15 "Climate Scalar Sources"
- [x] Request and Evaluate iESM output used for CALAND [scale, extent, source]
- [ ] Identify preferred climate scalar source [sbassett leaning towards relying on the iESM output used for CALALND]
- [ ] Seek feedback from TNC-Policy team
- [ ] Request permission from USCA for preferred scalar source [formal or informal modification of SOW if different]
- [ ] Develop climate scalars

In the agreeme

[2021-02-24 04:09] sbassett opened #16 "Invite LBL Collaborators to TNC-NMFO"
- [x] msimmond
- [x] aldivi

[2021-02-26 22:51] aj1s commented on #9
@aj1s

[2021-02-26 22:59] aj1s commented on #9
test @aj1s

[2021-02-26 23:27] aj1s commented on #15
@msimmond

[2021-02-26 23:30] aj1s commented on #9
@msimmond

hi Maegen –

This error occurred in the course of following the CALAND test run instructions (https://github.com/aldivi/caland#instructions-for-your-first-test-runs-with-caland) when using plot_caland.r and plot_scene_types.r as modified by Issues #7 and #8 respectively. After running CALAND() on each of the two example scenarios and the modified plot_caland() for the plotted comparison

[2021-02-26 23:37] aj1s commented on #16
Invites pending 2/26

[2021-02-27 04:18] aj1s commented on #8
In lines 78-70 of plot_Scen_types.r, the memory allowed java was increased from 4gb to 8gb:

#this enables java to use up to 8GB of memory for reading and writing excel files
options(java.parameters = "-Xmx16g" ) # options(java.parameters = "-Xmx4g" )

[2021-02-27 04:32] aj1s commented on #7
In plot_caland.r, setwd() was commented out. A function 'detach_package' was added for use in temporarily uninstalling package 'XLConnect' and its dependency 'rJava' long enough to increase the memory allowed to Java from 4gb to 16gb. Required packages are then installed (or, re-installed) and loaded.

#setwd("<your_path>/caland/")
#setwd("./")

#Define function 'detach_package'
detach_package <-

[2021-03-02 16:36] msimmond commented on #15
Yes, the same method used to derive CALAND's climate change scalars (RCP 4.5 and RCP 8.5) for annual net carbon fluxes in soil and vegetation using the earth system model outputs (iESM) can be applied to CO or NM.

[2021-03-02 16:41] msimmond commented on #2
The "se" is likely standard errors. @aldivi can you please decode the naming convention for these files?

[2021-03-02 16:51] msimmond commented on #4
I think there are 2 ways to implement it. If you want to implement 100% reforestation of non-regenerating forest due to high severity wildfire, you can run the baseline with the NR setting turned on (e.g., NR=120) and the alternative scenario with NR turned off (i.e., full regeneration). That's how we simulated the CA land use policy scenarios. Alternatively, you can explicitly prescribe reforesta

[2021-03-02 16:53] msimmond commented on #4
@aldivi are there any other caveats?

[2021-03-02 17:00] msimmond commented on #9
It would help to see your full workflow with the arguments used, from write_caland_inputs() to the point where the error occurred, in this case, to plot_scen_types()

[2021-03-02 18:07] aldivi commented on #9
This sounds like an issue related to assigning levels for plotting. Check:
scale_shape_manual(values=1:nlevels(plot_df$Land_Type))

[2021-03-02 18:14] aldivi commented on #4
Reforestation is a land cover change, and so is implemented in this part of the code. It converts only shrubland to forest, while afforestation converts both grassland and shrubland to forest. The difference between these two could be interesting, depending on how your grassland is parameterized. In CA, our grassland has annual carbon loss, so afforestation has a much more dramatic response than r

[2021-03-02 18:50] aldivi commented on #2
These raw carbon files are data that have been aggregated from fine-res grids to the land categories. This aggregation was done in GRASS and was a univariate statistic calculation of the input grids within the land categories. There were two input grids: the mean cell value and the standard error (SE) of the mean cell value. The statistics were area-weighted, which means that the standard error wa

[2021-03-02 19:36] #16 closed, assigned to nobody

[2021-03-03 05:00] aj1s commented on #9
The workflow leading to this error begins with the test input files distributed with this zip archive: https://zenodo.org/record/3256727/files/aldivi/caland-v3.0.0.zip and thus skips `write_caland_inputs()`.  I first load the three functions, `CALAND()`, `plot_caland()`, and `plot_scen_types()`, then run in sequence the test sets of arguments as described here: https://github.com/aldivi/caland#ins

[2021-03-04 19:19] sbassett opened #17 "Fabric/LandCategory — Wetlands"
Develp approach to add NWI wetlands to the analysis fabric/LandCategory

[2021-03-04 19:24] sbassett opened #18 "Fabric/LandCategory — Forest, Shrubland, Grassland Types"
- Frequent fire forest (FFF) types (no limitation on slope, describe these constraints as limiting where restoration has been implemented historically, but that new $ and science is pushing us towards treating a much broader area within freq. fire types)
Accommodate current wetter forest types that were historically dry forest types.
- Non FFF
Lower elevation Pinyon-Juniper
Higher-elevation types

[2021-03-04 19:30] sbassett opened #19 "Fabric/LandCategory — Cultivated Lands"
## Combine

- [ ] Tyler Lark — irrigated areas dataset (CONUS) — https://www.sciencedirect.com/science/article/abs/pii/S0924271619301728 — W:\Landcover\Lark_IrrigatedLands_LANID [cospatial.tnc.org (through cogeoproc)]
- [ ]  Challenging soil/NICC [nonirrigated canopy class] 1-8 — grassland carbon credit uses this as well — V1-value added lookup tables – https://www.nrcs.usda.gov/wps/portal/nrcs/de

[2021-03-04 19:34] sbassett opened #20 "Fabric/LandCategory — Reproducing CALAND LandCategories"
## Combine
- [x] Overlay of Wetlands, Forests, Grass/Shrub, and Cultivated classes.
- [x] Landowner
- [x] County

<br>

- Use Albers USGS Version

[2021-03-04 21:15] sbassett opened #21 "Identify Levels of Ambition to include as Alternatives"
- [ ] Do we specify levels of ambition in the SOW? [yes, BAU, and Maximum]
- [ ] What is the smallest set of ambition levels we can include and still meet deliverables? [2 is the smallest #, 3 may be politically necessary]

<br>

Is it possible to do only two levels of ambition [i.e. BAU & Plausible or Maximum], or do we need to do more?

<br>

### Draft Possible Ambition Levels
  - Full Conventio

[2021-03-04 21:20] #2 closed

[2021-03-05 02:19] aj1s opened #22 "Raster: Initial C densities (SOC)"
Calculate areal estimates of SOC to a depth of 30m (in Mg ha-1) from continuous gridded predictions of C (in percent weight) and bulk density (Ramcharan et al 2017).

Source Data: Ramcharan, A., T. Hengl, T. Nauman, C. Brungard, S. Waltman, S. Wills, and J. Thompson. 2017. Soil Properties and Class 100m Grids United States. https://doi.org/10.18113/S1KW2H

References: Ramcharan, A., T. Hengl, T. N

[2021-03-10 20:54] sbassett opened #23 "Does it make sense to add a "Recently Burned (at high severity)" landcover type?"
My current understanding is that burned areas are modeled as forest to shrub conversions that then "naturally regenerate" to forest through time, or are helped in their return to forest through implementation of the "post-fire reforestation" practice/activity/pathway.

Does burned forest currently automatically move to shrub following high-severity wildfire, or is there an in-between step with ver

[2021-03-17 05:51] #22 closed, assigned to aj1s

[2021-03-31 21:01] sbassett opened #24 "CO2 or CO2e for fluxes?"
Maegen or Alan –

As in CALAND, we will have CH4 emissions to estimate for wetland soils and burning biomass, and may track BC as well.

My (Aaron’s) understanding had been that all of the raw file data we develop for carbon densities (e.g., ‘lfc_agc_se_tpha_sp9_own9_2010lt15_stats.csv’) should be in Mg C / ha, and that all of our flux data (‘vegC_uptake’ and ‘soilC_accum’ within ‘lc_params.xlsx’)

[2021-04-01 19:33] msimmond commented on #24
Hi Steve, I'm tagging Alan @aldivi per our conversation last meeting to keep us both in the loop on development questions. Q1: Yes, all the raw inputs in lc_params are in Mg C/ha or Mg C/ha/y. Note that the raw scenario input file can be in acres. Q2.1. CALC.GWP() converts the species-specific carbon fluxes (CO2-C, CH4-C, and optional Black carbon-C) simulated in the annual loops of CALAND() into

[2021-04-07 17:34] aj1s commented on #24
This is very helpful – thanks Maegen.  (Also, thanks for the reminder that it’s fine to simultaneously tag Alan on these questions.)  Here I’m also tagging Teresa (@tchapman100) so she’s aware you’ve fielded this shared question of ours.

re Q2.1: I see; so these data frames are generated within CALAND() and not created through direct import of raw data I was concerned we were missing.

[2021-04-07 17:35] #24 closed, assigned to msimmond, aj1s

[2021-04-12 19:39] sbassett commented on #5
Following second discussion on the topic. We will use the same projection as LANDFIRE.

The grid to be used as the default snapping grid is here: https://tnc.box.com/s/dr42mbel9x6sfpzowf94fsrc7jq3jn7f

[2021-04-12 19:39] #5 closed

[2021-04-15 19:27] #4 closed

[2021-04-19 22:27] SRHurteau commented on #15
I'm on it! thanks for the assignment.

[2021-04-21 22:38] sbassett opened #25 "Rebase the nwland_dev branch to point to master (or WLIC?)"
bring over enhancements from the LBL development branches

[2021-04-22 20:10] sbassett opened #26 "County-level COMET Fluxes"
Request county-level fluxes from COMET.

[2021-04-22 20:31] sbassett opened #27 "modify LC-params.xls to conform to the new LandCategories"
NWLAND\raw_data\lc_params.xls

modified to contain rows for each landcategory class

[2021-04-22 20:33] sbassett opened #28 "add private protected as a landowner class?"

[2021-04-22 20:37] sbassett opened #29 "Veg carbon inventory populating csv files"
e.g., lfc_agc_tpha_sp9_own9_2010lt15_stats;
lfc_agc_se_tpha_sp9_own9_2010lt15_stats.csv;

[2021-04-22 20:49] sbassett opened #30 "LandType Annual Area Change Forecasts"
Sohl et al. under four different climate scenarios.

Which Scenario: A1B

Due to mismatch in landcover types, will calculate change in area between years for the native LULC datase (250m) and then will crosswalk later once the change is modeled.

Percent change will be applied to areas from 30-m fabric to calculate the change in m2 annually.

[2021-04-22 21:21] sbassett opened #31 "Activity data in nwl_scenario... file"
We need two different activity scenarios in the first run to allow comparisons between the two.
What types of activities do we want in the first scenarios?

1. No action?
2. Make up some scenario.

When calling the ca_land function `units_scenario`: Specify units for input areas in scenarios_file (must be `"ac"` or `"ha"`); default is `units_scenario = "ac"`.

[2021-04-22 21:22] sbassett opened #32 "Areas by land category (initial?)"
use the "area_gis_files_new" argument that by default points to CALAND_Area_Changes_2010_to_2101.csv
when running the write inputs function, use argument land_change_method = "Landuse_Avg_Annual" which is the default

[2021-04-22 21:25] sbassett opened #33 "Area burned forecast file"
fire_area_canESM2...

can the same iESM we use for the climate scalars be used for this?

[2021-04-22 21:27] sbassett opened #34 "Mortality fractions table"
mortality_annual_July...

Literature review?

[2021-04-22 21:28] sbassett opened #35 "Draft climate scalars"
create some draft climate scalars to get the model running.

[2021-04-22 21:40] sbassett opened #36 "Restructure word doc to conform to quick and messy first run"
Document the first iteration with intent to add each milestone/iteration

[2021-04-25 14:45] sbassett commented on #11
To make changes to the repo:

1. Download GitHub Desktop to your Workstation (Local or Remote)
    a. Install on the machine where you will be editing the input files.
    b. https://desktop.github.com/
2. Create a ‘Local’ Copy of the Repo
    a. Clone the repo to where you want it to be on the ‘local’ machine.
3. Make Some Changes to Files
    a. Do whatever you need to do, in a bite-size chunk,

[2021-04-26 18:49] sbassett commented on #20
First version of the LandCategory fabric is here: https://tnc.box.com/s/oemgbvzpgjkap5hz6br7e2xy8d8kw5in

[2021-04-26 19:15] #20 closed, assigned to sbassett

[2021-04-26 19:17] sbassett commented on #17
First run at integrating wetlands completed: https://tnc.box.com/s/y9dz05a7divzz6casi2229a2pobqy88s

Anecdotally wetlands are too extensive in NM, need discussion before second LandCategory fabric development.

[2021-04-26 19:44] sbassett commented on #27
Modification complete

[2021-04-26 19:44] #27 closed, assigned to sbassett

[2021-04-26 19:46] sbassett opened #37 "SOC inventory populate csv"
gss_soc_tpha_sp9_own9_2010lt15_stats

[2021-04-26 19:59] sbassett commented on #34
@tchapman100 if you see any of these stats in your lit review will you let me know? Wondering if there are efficiencies in doing these at the same time.

[2021-04-26 20:00] sbassett commented on #35
since the first run is under historical conditions, climate scalars aren't needed for the first run, unless the model checks to make sure the files are there (even if they won't be used). I'll do the bare minimum to get the model working. Real scalars will arrive before the second run.

[2021-04-26 22:12] sbassett opened #38 "Crosswalk between Sohl landcover classes and NWLAND classes"
Sohl Code | Sohl   Description | NWLAND   Code | NWLAND   Desc
-- | -- | -- | --
1 | Water |   |  
2 | Developed |   |  
3 | Mechanically   Disturbed National Forests |   |  
4 | Mechanically   Disturbed Other Public Lands |   |  
5 | Mechanically   Disturbed Private |   |  
6 | Mining |   |  
7 | Barren |   |  
8 | Deciduous   Forest |   |  
9 | Evergreen   Forest |   |  
10 | Mixed Forest |   |

[2021-04-26 22:29] sbassett commented on #38
Sohl Code | Sohl   Description | NWLAND   Code | NWLAND   Desc
-- | -- | -- | --
1 | Water | 9000 | Water
2 | Developed | 9800 | Developed
3 | Mechanically   Disturbed National Forests | 8100 | Forest
4 | Mechanically   Disturbed Other Public Lands | 8100 | Forest
5 | Mechanically   Disturbed Private | 8100 | Forest
6 | Mining | 9800 | Developed
7 | Barren | 1000 | Barren
8 | Deciduous   Forest |

[2021-04-26 23:01] sbassett commented on #30
@aj1s It seems like this issue and #32 are chained. Once you have the annual changes in Sohl classes, lets work together to crosswalk them into annual estimates by landcat.

[2021-04-26 23:02] sbassett commented on #32
This issue is chained with #30, will work on this once the annual change from Sohl is analyzed.

[2021-04-27 17:07] sbassett commented on #33
For this first run will use https://www.fs.usda.gov/rds/archive/Catalog/RDS-2020-0016 annual burn probability raster to calculate average burn probability for the county/owner combo.
Convert to recurrence interval (e.g. 1 in 500 years) divide total zone area (ha) by interval 500 to get approximate area burned annually.
This is imperfect, but will give us useable numbers for this first run.

[2021-04-28 15:24] sbassett commented on #33
See https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev/raw_data/fire_area_RDS-2020-0016%20_averageannual_2001-2100.csv

[2021-04-28 15:24] #33 closed, assigned to sbassett

[2021-04-28 15:47] sbassett commented on #35
editing this file climate_c_scalars_nmco_null_2010_2100

Region | Land_Type | Ownership | Component | X2010 | X2011 | X2012 | X2013
-- | -- | -- | -- | -- | -- | -- | --
Central_Coast | Desert | Private | Soil | 1 | 0.991393 | -0.02081 | 0.139595
Central_Coast | Desert | State_gov | Soil | 1 | 0.98178 | -0.1732 | -0.06844
Central_Coast | Desert | USFS_nonwild | Soil | 1 | 1 | -1.00607 | -0.43027
C

[2021-04-28 16:09] sbassett opened #39 "Which Components and Pools does each landtype have?"
Component (Soil or Vegetation) is needed for the climate scalars file.
Pools needed for [which file...?]

NWL_group | NWL_code | Pool_SOC | Pool_AGC | Pool_BGC | Pool_USC | Pool_DSC | Pool_DDC | Pool_LTC
-- | -- | -- | -- | -- | -- | -- | -- | --
Barren | 1000 | X | X | X |   |   |   |  
Sparse | 2000 | X | X | X |   |   |   |  
Desert | 3000 | X | X | X | X | X | X | X
Ice | 3100 | X |   |   |  

[2021-04-28 17:31] sbassett commented on #35
Created https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev/raw_data/climate_c_scalars_nmco_null_2010_2100.csv

[2021-04-28 17:31] #35 closed, assigned to sbassett

[2021-04-29 17:27] aj1s commented on #38
@sbassett - This draft crosswalk reflected in file "NWLAND_LandType_Areas_2016_to_2050.csv"

[2021-04-29 18:23] sbassett commented on #32
https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev/raw_data/NWLAND_Area_Changes_2016_to_2050.csv

[2021-04-29 18:23] #32 closed, assigned to sbassett, aj1s

[2021-04-29 18:23] #39 closed, assigned to sbassett

[2021-04-29 18:24] #38 closed, assigned to sbassett, aj1s

[2021-04-29 20:47] sbassett opened #40 "merge in WLIC branch changes"
link to WLIC as the primary origin
but before doing that rebase to Master to get the updated tutorials (in ancillary) and other fixes

[2021-04-30 03:13] aj1s commented on #32
Revised to include 2015 as the base year:

https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev/raw_data/NWLAND_LandType_Areas_2015_to_2050.csv

[2021-04-30 03:13] aj1s commented on #30
Revised to include changes forecast from 2015 to 2016:

https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev/raw_data/NWLAND_Area_Changes_2015_to_2050.csv

[2021-04-30 03:14] aj1s commented on #38
This draft crosswalk reflected in:

https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev/raw_data/NWLAND_LandType_Areas_2015_to_2050.csv

and

https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev/raw_data/NWLAND_Area_Changes_2015_to_2050.csv

[2021-04-30 09:19] aj1s commented on #37
See:  https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev/raw_data/soc_tpha_2017_stats.csv

[2021-04-30 09:19] #37 closed, assigned to aj1s

[2021-05-05 21:26] sbassett opened #41 "Burn severity fraction"
High/medium/low

Liderson 2017 as possible source.

CALAND uses high= 0.26, medium = 0.29, low = 0.45

[2021-05-05 21:31] sbassett opened #42 "Non-regeneration distance"
How far from patch edge does natural regen occur?
CALAND uses 150-meters, Teresa is leaning for 50-meters

[2021-05-10 21:33] sbassett commented on #34
### Example

Region | Land_Type | Ownership | Mortality_frac
-- | -- | -- | --
Central_Coast | Forest | BLM | 0.013
Central_Coast | Forest | DoD | 0.013

Stats for the CALAND file are
Stat | Value
-- | --
Min | 0
Max | 0.042
Mean | 0.012
SD | 0.011976

For the first mockup I'm going to use 0.01 for all values.

[2021-05-10 21:39] sbassett commented on #34
https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev/raw_data/mortality_annual_testing.csv

[2021-05-10 21:39] #34 closed, assigned to sbassett

[2021-05-10 21:53] sbassett opened #43 "write_caland_inputs.r commented documentation"
[code]

Should this this say `default is 'inputs_dir = ""`?

[2021-05-11 21:06] sbassett commented on #29
Working here to create working (but not useful) input files. K:\Projects\USCA_NCS_2020\Data\Proc\Inventory\Inventory_FirstDraft_AllTypesVegPools_NoDevelopNoIce.xlsx

hopefully these will work: https://github.com/TNC-NMFO/NWLAND/commit/3fb5961ad2ccb61f8903855a4c064d4e0ccb1165

[2021-05-11 21:06] #29 closed, assigned to sbassett

[2021-05-11 22:37] sbassett opened #44 ""urban_forest" and "growth" management practices"
how are the "urban_forest" and "growth" management pathways defined, where are they parameterized?
These practices seems hardcoded (in write_caland_inputs?)

[2021-05-12 16:35] aj1s commented on #9
@aldivi

Hi Alan, I’m still not able to determine why scale_shape_manual() isn’t able to map values from all 15 csvs referenced by this test argument set for plot_scene_types(), all of which I’ve confirmed are populated and available in the outputs directory (e.g., All_region_Water_All_own_All_orgC_stock_diff_output.csv
All_region_Ice_All_own_All_orgC_stock_output.csv, ...) from the preceding plot

[2021-05-13 18:59] aldivi commented on #9
@aj1s I can't reproduce this error. I am using ggplot 3.3.2. What version do you have?
Can you send me the required diagnostic files from plot_caland() so I can try them? All I really need are the 'All_orgC_stock_diff' csv files for each of the land types in your All_region diagnostics folder.
If it is easier you can zip up the entire All_region folder with all of your plot_caland() diagnostic out

[2021-05-13 19:03] aldivi commented on #9
Also, where is the modified version of plot_scen_types that you are using?

[2021-05-14 03:45] aj1s commented on #9
@aldivi  –  Thanks for having a(nother) look at this.

I’m using ggplot 3.3.3.

The modified version of ‘plot_scen_types.r’ is:
https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev/plot_scen_types.r
(Note: The only change I made was increasing the memory available to Java.)

The ‘All_orgC_Stock_diff’ csvs and two main scenario output files from the test run (argument sets defined above in this Issue

[2021-05-14 15:10] sbassett opened #45 "DATA vs. CODE"
Can we disentangle all the data from the code?
Anything that is "hardcoded" should be specifiable as an input file or argument.

[2021-05-14 15:23] sbassett opened #46 "write_caland_inputs() fire area file naming requirements"
When calling write_caland_inputs(), it looks like specific file names are being enforced.
```Historic climate (CLIMATE = 'HIST') must be paired with fire_area_file = 'fire_area_canESM2_85_bau_2001_2100.csv'```

[2021-05-14 15:26] sbassett commented on #46
As a quick fix, I'm going to rename the file ```fire_area_RDS-2020-0016_averageannual_2001-2100.csv``` to  ```fire_area_canESM2_85_bau_2001_2100.csv```.

```fire_area_canESM2_85_bau_2001_2100.csv``` will be renamed ```caland_fire_area_canESM2_85_bau_2001_2100.csv"

[2021-05-14 15:34] sbassett commented on #46
For some reason I can't trick it to accepting this file, am temporarily commenting out this test in write_caland_inputs.r
[code]

[2021-05-14 15:35] sbassett opened #47 "creating output directory fails in write_caland_inputs()"
[code]

[2021-05-14 15:51] sbassett commented on #47
It looks like a directory miss-specification, probably caused by calling the function from a different directory.
This has been addressed by reverting to not using here to manage paths in the "runs/_run_.r" script.

[2021-05-14 15:51] #47 closed, assigned to sbassett

[2021-05-14 15:55] sbassett opened #48 "unable to read landcover area file"
[code]

[2021-05-14 16:00] sbassett commented on #48
It's a problem with the ```process the original lancover area files``` section of write_caland_inputs().
We aren't using the original landcover method, as specified by "land_change_method" argument.
Do we need to have valid "original" landover change data tables even if we aren't using it?

[2021-05-14 16:06] sbassett commented on #48
Added this argument to the function call.
```area_gis_files_orig = c("area_lab_sp9_own9_2001lt15_sqm_stats.csv", "area_lab_sp9_own9_2010lt15_sqm_stats.csv"), #issue 48 may be resolved with this line (even though these estimates aren't used it still is looking for them) ```

But it didn't fix the problem.

These are the default values for these arguments so will delete that line.

[2021-05-14 16:18] sbassett commented on #48
Is it looking for the wrong start and end year values in the file name?

[2021-05-17 22:36] sbassett commented on #48
It was looking for these files because they are used to create the framework on which the Annual landcover change data re then appended. Created some files that will allow the code to work.

[2021-05-17 22:36] #48 closed, assigned to sbassett, aj1s

[2021-05-17 22:37] sbassett opened #49 "Aggregating change in landcover from base year"
[code]

[2021-05-17 22:38] sbassett commented on #49
Created a 1m2 chnage from baseline to "start year". This resolved a related problem with line 633, but now seeing this error.

[2021-05-17 22:41] sbassett commented on #48
Created these files: https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev/raw_data/proto_area2001_sqm_stats.csv
https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev/raw_data/proto_area2010_sqm_stats.csv

[2021-05-17 22:42] sbassett commented on #48
https://github.com/TNC-NMFO/NWLAND/commit/d62e5da1ca72c8edd42da414351aea16d30b0ccb

[2021-05-18 16:09] sbassett commented on #49
Created a change between the two years to give the script something to aggregate.

[2021-05-18 16:09] #49 closed, assigned to sbassett, aj1s

[2021-05-18 16:11] sbassett opened #50 "Fresh marsh mucking about in write_caland_inputs()"
[code]

[2021-05-18 16:16] sbassett commented on #50
Commenting out the fresh marsh section seemed to resolve the problem.

[2021-05-18 16:22] sbassett commented on #50
Commenting out this section seems to work, we'll see if there are dependencies on this section.

[2021-05-18 16:22] #50 closed, assigned to sbassett, aj1s

[2021-05-18 16:36] sbassett opened #51 "error while replacing the "orig" method with "annual" method for modeling landcover change."
[code]

[2021-05-18 16:59] aj1s commented on #50
I got through the fresh marsh section with the minimal changes below  (i.e., two lines commented out, and modified line beginning with 'delta_cult$lcatcode':

`
zero_area = diff_area_calc[diff_area_calc$start_area_ha == 0,]
diff_area_calc = diff_area_calc[diff_area_calc$start_area_ha > 0,]
delta_cult = diff_area_calc[diff_area_calc$lt_code == cult_code & diff_area_calc$reg_code == delta_code,]

de

[2021-05-18 22:52] sbassett commented on #51
Is this because `nrow(new_area_changes) = 6359` and `nrow(out_scen_df_list[[2]]) = 7528`?
Are there identical number of records in these data frames in CALANDs? No. There are 1064 in "old" table and 848 in the "new" area change files.

[2021-05-19 03:27] sbassett commented on #51
This only happens when write_caland_inputs() argument land_change_method = "Landuse_Avg_Annual".
Bypassing this error by setting land_change_method = "Landcover".

[2021-05-19 03:45] sbassett opened #52 "error reading in the carbon files"
Error somewhere in the `for` loop beginning on line 1580.
[code]

[2021-05-19 03:50] sbassett commented on #52
~line1633
```area_agg = aggregate(Area_ha ~ Region + Land_Type, avail_vals, FUN = sum, na.rm = TRUE)```

[2021-05-19 03:52] sbassett opened #53 "Change NWLAND landcover type "Developed" to match CALAND "Developed_all""
In the write_caland_inputs() function, "Developed_all" is treated differently. We want developed lands to be treated differently so need to either change the code or our data to match the code.

I vote change the data to match the code so we can make as few changes as possible to the code.

[2021-05-19 04:09] sbassett commented on #52
Commented out the data filling step. There are no data gaps, so there is nothing to aggregate...

[2021-05-19 04:15] sbassett opened #54 "Scenario workbook sheet values (e.g. NWL_Proto_v1_Hist) cannot be converted from string to numeric, coerced to NAs"
Cell NWL_Proto_v1_Hist!G13 cannot be converted from String to Numeric - returning NA
...

These are literally NA values, so I assume this is intended behavior and nothing to be concerned about.

[2021-05-19 04:22] sbassett commented on #52
Same error is triggered while filling nulls in the SOC values. Commenting out that section too because we currently have no nulls that need to be filled.

[2021-05-19 04:29] sbassett opened #55 "aggregating carbon tables"
~write_calands_inputs() line 1855
```Error in out_c_df_list[[cpool_start]] : subscript out of bounds```

[2021-05-19 23:21] sbassett opened #56 "Region list is hardcoded in write_caland_inputs() line 373"
Original code
```reg_names = c("Central_Coast", "Central_Valley", "Delta", "Deserts", "Eastside", "Klamath", "North_Coast", "Sierra_Cascades", "South_Coast")```

[2021-05-20 16:00] sbassett commented on #56
Call this after reading write_calands_inputs() to source.
[code]

[2021-05-20 16:00] #56 closed, assigned to sbassett

[2021-05-20 16:15] sbassett opened #57 "Mismatch in key fields (landcat ID)"
Some of the landcat IDs are generated automatically from the component Region, LandType, and Owner codes. Because this is hardcoded (e.g. write_caland_inputs.r line 563), we need to use this same formula for generating landcat IDs.
`region*100000 + landtype*100 + ownership`

### Reviewing These Files
`[x] for reviewed *fixed appended for fixed`
- [x] proto_lc_params.xls *uses Region/LandType/Owner

[2021-05-20 16:19] sbassett opened #58 "landtype fresh_marsh is special, do we need to rename any of our landtype classes?"
fresh_marsh can only be converted (restored) from cultivated_delta

**write_caland_inputs.r line 404:**
[code]

[2021-05-20 17:37] sbassett commented on #57
Corrected the Landcat ID in NWLAND_Area_Changes_2015_to_2050.csv in EXCEL.
`=SUM(IF(LEFT(B2,1)=8,(LEFT(B2,4)*100000)+RIGHT(B2,4),(LEFT(B2,5)*100000)+RIGHT(B2,4)))`
edit: This doesn't seem to be working correctly.

=SUM(IF(EXACT(LEFT(B2,1),8),(LEFT(B2,4)*100000)+RIGHT(B2,4),(LEFT(B2,5)*100000)+RIGHT(B2,4)))
appears to work

[2021-05-20 17:47] sbassett opened #59 "record count in NWLAND_Area_Changes_2015_to_2050.csv is lower than other inputs"
NWLAND_Area_Changes_2015_to_2050.csv has 6359 records, most other have 7527 (see #57 for list)
Why is this file different?
Is the different number of records a problem?

[2021-05-20 18:42] sbassett commented on #57
Corrected the "zone" field in inventory_proto_agc_tpha.csv which is the key LandCat ID field.
=SUM(IF(EXACT(LEFT(B2,1),8),(LEFT(B2,4)*100000)+RIGHT(B2,4),(LEFT(B2,5)*100000)+RIGHT(B2,4)))

[2021-05-20 19:14] sbassett opened #60 "inventory records count standardization (maybe __all__ file record count standardization)"
After uncommenting the sections that were previously producing errors (following correction of the LandCat ID key fields in the raw_data files).
[code]

### Which of these actually need to match?

- [ ]  climate_c_scalars_nmco_null_2010_2100.csv — uses Region/LandType/Owner + Component names instead of landcat codes (13783 records)
- [ ]  fire_area_RDS-2020-0016_averageannual_2001-2100.csv  — uses

[2021-05-20 19:24] sbassett commented on #59
subsumed by #60

[2021-05-20 19:24] #59 closed, assigned to aj1s

[2021-05-20 21:28] sbassett commented on #57
Standardized landcat key fields in https://github.com/TNC-NMFO/NWLAND/commit/062f984c4df94753f4f691b0b381e90a41cebd51

[2021-05-20 21:28] #57 closed, assigned to sbassett

[2021-05-24 17:05] aj1s commented on #9
@aldivi –   After finding (on line 148) that setting scale_shape_manual() outside of aes() didn’t resolve the issue, I then tried using ggplot2 v 3.3.2:

[code]
...but received the original error.

Next I tried a run with line 148 simply commented out (as I can still read the plots with the geoms distinguished only by color). This returned:

[code]

So, I changed line 148 to assign shapes based on

[2021-05-24 17:06] #9 closed, assigned to aj1s, aldivi

[2021-05-26 07:32] aj1s commented on #60
Provisional conclusion:  The two original area GIS raw data files need to match each other in count, and the carbon inventories for BGC, DDC, DSC, LTC, and USC _may_ need to match w/ each other (though doubting it). Beyond that, while no additional record counts need to match, none should exceed that of the original area GIS raw data files.  Notably (and hence Issue #59 being closed), it appears t

[2021-05-26 07:32] #60 closed, assigned to sbassett, aj1s

[2021-05-26 08:16] #55 closed, assigned to sbassett, aj1s

[2021-05-26 08:17] #52 closed, assigned to sbassett, aj1s

[2021-05-26 08:24] aj1s opened #61 "CALAND() cannot find test carbon input file due to unnecessary subdir"
Sourcing  'write_calands_inputs.r' anew with '2021_05_19_testingWriteInputsWithPlaceholderData_noHere.r' returned error:

`Error: FileNotFoundException (Java): File '2021_05_14_carbon_input_nwland_testAN.xls' could not be found - you may specify to automatically create the file if not existing.`

[2021-05-26 08:39] aj1s opened #62 "CALAND() returns Error: OutOfMemoryError (Java): GC overhead limit exceeded"
CALAND() was test run using this argument set:

`CALAND(scen_file="NWL_Proto_v1_Hist_protoA_hist.xls", c_file_arg = "2021_05_14_carbon_input_nwland_testAN.xls", indir = "", outdir = "", start_year = 2016, end_year = 2050, value_col_dens = 7, ADD_dens = TRUE, value_col_accum = 7, ADD_accum = TRUE, value_col_soilcon=8, ADD_soilcon = TRUE, NR_Dist = 120, WRITE_OUT_FILE = TRUE, blackC = FALSE)`

that

[2021-05-26 08:44] aj1s commented on #61
Modifying lines 210 and 211 in CALAND()
[code]
may be necessary to provide more memory to Java (or, possibly XLConnect and rJava, specifically, as in Issues #7 and #8).

[2021-05-26 08:44] #61 closed, assigned to aj1s

[2021-05-26 08:45] aj1s commented on #62
Modifying lines 210 and 211 in CALAND()
[code]
may be necessary to provide more memory to Java (or, possibly XLConnect and rJava, specifically, as in Issues #7 and #8).

[2021-05-26 09:09] aj1s commented on #62
Commits fa1fcd7bbb73d334df439f11ed7bf0aa45b1e519 and 5c7c908c8197edbfcfbc4cea212888f090538169 were made. The latter, which comments out the java.parameters line in CALAND(), may be unnecessary. A new R session was started and fresh input files  produced.  The test run of CALAND() appeared to clear the memory crux (at least so far).

[2021-05-26 09:09] #62 closed, assigned to aj1s

[2021-05-26 09:13] aj1s opened #63 "CALAND() test run returns Error in own_conv_df_list[[1]] : subscript out of bounds"
Again test running CALAND() using this argument set:

`CALAND(scen_file="NWL_Proto_v1_Hist_protoA_hist.xls", c_file_arg = "2021_05_14_carbon_input_nwland_testAN.xls", indir = "", outdir = "", start_year = 2016, end_year = 2050, value_col_dens = 7, ADD_dens = TRUE, value_col_accum = 7, ADD_accum = TRUE, value_col_soilcon=8, ADD_soilcon = TRUE, NR_Dist = 120, WRITE_OUT_FILE = TRUE, blackC = FALSE)`

[2021-05-26 20:39] aj1s commented on #53
See commit beeaa7f65af310e6bc1f9c89406d7577054cbf47 .   With the thought of eliminating a possible cause behind Issue #63, I did a global replace of "Developed" with "Developed_all" throughout the raw input data files imported with 2021_05_25_testingWriteInputsWithPlaceholderData_noHere.R

[2021-05-26 22:35] aj1s commented on #53
Reverted above commit (for now) to avoid new introduced aggregation error when calling write_caland_inputs.r

[2021-05-27 04:12] sbassett commented on #63
error occurs on CALAND.r line 4323
```add = names(own_conv_df_list[[1]])[(skip+1):ncol(own_conv_df_list[[1]])]```

skip = 34

this section of code is only called if current_region_ID = "Ocean".
beginning on line 3675 `if(current_region_ID != "Ocean") {}` this error occurs in the following else{} section

## Do we have any ocean?

- Do CO and NM have Ocean? No, but:
- Yes, Ocean has been appended t

[2021-05-27 04:46] sbassett commented on #63
My current plan is to manually remove the "ocean" lines from the generated input files, and see if we can sidestep this problem.

This worked, issue sidestepped.

[2021-05-27 05:00] sbassett opened #64 "CALAND() object 'cconv_own' not found"
CALAND.r line 3521

```object 'cconv_own' not found```

[2021-05-27 05:02] sbassett commented on #64
This looks like a typo to me. `conv_own` exists. Am "correcting" this to 'conv_own'.

[2021-05-27 05:02] sbassett commented on #63
The changes to the input files (removing records with region=Ocean) has produced an error earlier in the function, but it appears to be a typo. #64
My current understanding is this error appears earlier in the function because it happens when `current_region_ID != "Ocean"` instead of in the following `else{}`.

[2021-05-27 05:08] sbassett opened #65 "Error in apply(conv_own[, conv_own$Land_Type], 2, function(x) { : dim(X) must have a positive length"
CALAND.r line 3710
[code]

[2021-05-27 05:11] sbassett opened #66 "Do we need to have unallocated land types?"
I forget where I saw it, but I recall CALAND has ownerships (and/or?) land types that are not defined. Are these unallocated pools of land necessary?

[2021-05-27 05:20] #64 closed, assigned to sbassett

[2021-05-27 05:22] sbassett opened #67 "Prevent "Ocean" region from being added to input files by write_caland_inputs()"
See comments in #63

[2021-05-27 05:39] sbassett commented on #61
I received this same error because the  CALAND() `indir` argument is concatenated with "inputs/" on line 277 and i was passing it the file name and the full path so it was looking in "inputs/./inputs/2021_05_14_carbon_input_nwland_testB1". Calling CALAND() with `indir = "2021_05_14_carbon_input_nwland_testB1"` works for me.

[2021-05-27 05:54] sbassett commented on #64
Why wasn't this typo encountered when running CALAND?
My current hypothesis is the conditions required to reach this segment of code were never met when running CALAND (e.g. shrubland always existed). Encountering this typo could be related to our lack of unallocated land within each region to provide breathing room for modifying land types. #66

[2021-05-28 18:37] sbassett commented on #67
Resolved in https://github.com/TNC-NMFO/NWLAND/commit/d0ce3ad913658eb3fbc674bd4fc2647cdb9a1a65 with no detected side effects.

[2021-05-28 18:37] #67 closed, assigned to sbassett

[2021-05-28 18:38] sbassett commented on #66
No these are note needed, per Alan on call 2021-05-27.

[2021-05-28 18:38] #66 closed, assigned to sbassett

[2021-05-28 18:41] sbassett commented on #53
LandType "Developed" replaced by "Developed_all" in https://github.com/TNC-NMFO/NWLAND/commit/a4f2eb86e0ea25c440cf31828943c3f4b8a237ff, write_caland_inputs.r successfully runs, no discernable side effects.

[2021-05-28 18:41] #53 closed, assigned to nobody

[2021-05-28 18:44] sbassett commented on #63
This issue may still persist when Ocean actually exists, but closing for now as this bit of code will not be encountered now that Ocean and Seagrass will no longer be added by write_caland_inputs().

[2021-05-28 18:44] #63 closed, assigned to aj1s

[2021-05-28 18:46] sbassett commented on #58
I think we're avoiding using the types that would be inappropriate for us to use to model our study area (e.g. Ocean, Fresh_Marsh, etc.)

[2021-05-28 18:46] #58 closed, assigned to nobody

[2021-05-28 18:49] sbassett commented on #46
Reopening since it would be nice to have a check to confirm that an appropriate file is being used.

[2021-06-02 03:38] sbassett commented on #65
Added this block at line 3711:
[code]
The line `print(paste("conv_own =", conv_own))` prints a different format the last time befire it fails:
[code]

[2021-06-02 04:53] sbassett commented on #65
There is only one record for `conv_own`. Dim with one record appears to return null.

Per this article: https://stackoverflow.com/questions/28423275/dimx-must-have-a-positive-length-when-applying-function-in-data-frame/28423503

need to specify drop = FALSE

Attempting like this
[code]

This appears to work, same error is replicated in `apply(conv_own2[, conv_own2$Land_Type], 2, function(x) {`

At

[2021-06-02 04:54] sbassett commented on #65
Brute forcing a fix isn't working, will regroup and learn what the code is trying to do.

[2021-06-08 20:21] aldivi commented on #65
The problem is that there is only one land type in conv_own. I guess this doesn't exist in CA, so we never encountered this.
Well, the real problem is that R automatically changes its data types so that the matrix function do not work properly.
The drop=F works for the apply function to stop this conversion, but in line 3729 in  the repo (i guess 3736 for you) only one column is extracted from con

[2021-06-10 03:27] aj1s commented on #65
@aldivi –

I’ve attempted runs using this if-else statement in place of the original replacement at line 3729:

[code]

yet alternately receive the prior error:

[code]

... or another memory error:

`Error: OutOfMemoryError (Java): GC overhead limit exceeded`

Initially, we were curious why the statements in the ‘if’ and ‘else’ cases appear identical.

Does the ‘if’ case here effect replacement a

[2021-06-10 14:30] aldivi commented on #65
Sorry, not sure what happened when I copied over the code. It should read:
if (length(conv_col_names < 2) & length(zinds) > 0) {
 conv_own[,conv_col_names] = -conv_own2[,conv_col_names]
  } else {
 conv_own[,conv_col_names][,zinds] = -conv_own2[,conv_col_names][,zinds]
}

[2021-06-10 18:23] aj1s commented on #65
Thanks @aldivi

This substitution made at CALAND() line 3729:

[code]
Running again clears line 3729.

[2021-06-10 18:30] aj1s commented on #65
Error at line 3978:

[code]
Specified drop = FALSE in lines 3978 - 3981:
[code]
Running again clears line 3981.

[2021-06-10 18:33] aj1s commented on #65
Above error then occurs, in turn, at lines 3985 and 3987.

Specified drop = FALSE at line 3985:

`
conv_own$row_sums = apply(conv_own[,conv_col_names,drop=F],1,FUN= function(x) {sum(x, na.rm=TRUE)})`

and at line 3987:

`col_sums = apply(conv_own[,conv_col_names,drop=F],2,FUN= function(x) {sum(x, na.rm=TRUE)}))`

Running again clears line 3987.

[2021-06-10 18:39] aj1s opened #68 "Error in rbind(deparse.level, ...) : numbers of columns of arguments do not match"
CALAND() line 4411:

[code]

[2021-06-10 19:53] sbassett commented on #68
I see two options:

1. Check if each data frame has the missing column and if it doesn't add it before the rbind
2. Use an alternative package that allows graceful handling of missing columns (e.g. plyr's `rbind.fill()` or dplyr's bind_rows()) - assuming the output is compatible with subsequent code (e.g. are NAs allowed?)

[2021-06-10 20:42] sbassett commented on #68
For this loop [over region or owner?]
`ncol(conv_df_pre)` = 94
`ncol(own_conv_df_list_pre[[z]])` = 97

On antecedent successful trips through this loop both of the data frames have 94 columns.

The 'extra' columns in this version of own_conv_df_list_pre[[z]]) are:
[code]

[2021-06-10 21:14] aj1s commented on #68
As we appear to be dealing with extra, not missing, columns, we could try intersect(), as here:
https://stackoverflow.com/questions/61120906/error-in-rbinddeparse-level-numbers-of-columns-of-arguments-do-not-matc

[2021-06-10 21:34] sbassett commented on #68
Dropping the extra columns seems to work. The function has progressed to year 2017!

[2021-06-10 22:27] #65 closed, assigned to sbassett, aj1s, aldivi

[2021-06-11 16:42] #68 closed, assigned to sbassett, aj1s, aldivi

[2021-06-11 20:29] sbassett opened #69 "caland() — out of memory error when writing output"
Likely related to #62

It takes over an hour to encounter this error, so it's time-consuming to reproduce.

When running CALAND(), function works until writing output.
I specify: options(java.parameters = "-d64 -Xms4g -Xmx8g" )  # originally set to "-Xmx8g"

[code]

Why is the free memory capped at 288.9 MB even after calling `xlcFreeMemory()`?
I have 16 GB of RAM on my laptop where I encountered

[2021-06-11 20:30] sbassett commented on #69
I have reproduced this error twice now, with different Java parameters.

[2021-06-12 01:35] sbassett commented on #69
Successful run! On workstation with 64 GB installed RAM.
options(java.parameters = "-d64 -Xms8g -Xmx64g" )  # originally set to "-Xmx8g"

[code]

see a618145

[2021-06-15 18:53] aj1s commented on #69
Initiated RStudio session with:

`options(java.parameters = "-d64 -Xms8g -Xmx64g" ) # originally set to "-Xmx8g"
`

and attempted run of CALAND() on laptop (also with 64 GB RAM). Upon writing final outputs received:

`Error: OutOfMemoryError (Java): Java heap space `

[code]

Ended session, rebooted, and attempted again, this time making sure to set the above java parameters prior to rJava (or any

[2021-06-16 20:48] sbassett commented on #40
This tutorial look slike what we need: https://docs.github.com/en/desktop/contributing-and-collaborating-using-github-desktop/keeping-your-local-repository-in-sync-with-github/syncing-your-branch

Then edit the conflicts following guidance here: https://stackoverflow.com/questions/10657315/git-merge-left-head-marks-in-my-files

New branch of NWLAND here to test this out: https://github.com/TNC-NMF

[2021-06-17 17:29] aj1s commented on #69
Running by command line yields:

`Error in '[.data.frame'(man_grass_df, , value_col_range) : undefined columns selected`

[2021-06-17 18:20] aj1s commented on #69
Successful (full) run (!) from cmd prompt on laptop with 64gb RAM.
options(java.parameters = "-d64 -Xms8g -Xmx64g" ) # originally set to "-Xmx8g"

25 warnings of form:
`1: In min(mortality_targetyears[hinds]): no non-missing arguments to min; returning Inf`

As @sbassett noted, these stem from setting `forest_mort_adj_last = 2024` (not 2050) in the run file for write_calands_inputs.r.

[2021-06-19 02:27] aj1s opened #71 "plot_caland() — out of memory error when loading CALAND() outputs"
plot_caland.r was run using 45f9a2611e265b0308ff17d614ffd3d40ccecf26. Received the following error, whether run from RStudio or command line:

`Error: OutOfMemoryError (Java): GC overhead limit exceeded`

[2021-06-20 23:18] aj1s commented on #71
Attempting modification of plot_caland.r to remove Java dependency, replacing {XLConnect} with {readxl} (and, if need be, {writexl}) which have no external dependencies.

Note that if {readxl} functions prove too difficult to splice into the for loops of plot_caland.r – the pkg was intended to be used instead with base:: lapply() – other potential options include {openxlsx} and {rio}. See: []https

[2021-06-22 21:34] aj1s commented on #71
Extracted and simplified nested for loops into separate script, returning:
[code]

[2021-06-23 00:53] aj1s commented on #71
With the above {readxl} replacements, the script runs w/o error through the nested for loops that read in the data (ending line 1891). The next error is encountered at line 1906:
`Error in order(acl) : argument 1 is not a vector`

[2021-06-23 00:59] aj1s commented on #71
The nested for loops, lines 230 – 1891, were extracted and simplified into two parallel scripts, respectively using {XLConnect} and {readxl}, and (single iteration) results from each function were examined.

[2021-06-25 17:53] aj1s commented on #71
The file size of our test xls workbooks created by CALAND.r are excessively large, each at 1.153 gb. (Each scenario workbook has 214 sheets, each with 40 rows and 7,640 columns.)

Opening these in Excel and saving to xlsx format results in file sizes of ~ 248 mb, while saving back to xls format results in ~ 504 mb.  In addition to format and means of saving the files, @tchapman100 speculated that

[2021-06-30 16:33] sbassett commented on #15
Sarah has recommended the use of historical, RCP 4.5, and RCP 8.5 climate trajectories in our modeling. This is a change from our proposal, so permission from the funder may be required.

Based on Sarah's guidance we will target an ensemble of 10 iESMs from CMIP5. The ideal solution is to draw annual scalars from a distribution of the 10 iESMs. Because that functionality isn't supported by CALAND

[2021-06-30 19:23] sbassett commented on #15
https://www.cesm.ucar.edu/projects/community-projects/LENS/data-sets.html
https://climatedata.ibs.re.kr/data/cesm2-lens

[2021-07-02 04:16] sbassett commented on #71
Running the unmodified plot_caland.r on COGEOPROC (256GB RAM) results in a novel error:
[code]
This may be evidence that the memory error was not encountered on COGEOPROC. This error is likely the result of the full file path being 264 characters while the maximum is 260.

I did not produce a second run using caland with `scen_file_arg = "NWL_Proto_v1_Alt_A_protoA_hist.xls"` so will do that and tr

[2021-07-02 23:55] aj1s commented on #71
Regarding the prior, separate strategy of replacing {XLConnect} (and running the code on our own workstations) . . .

It appears that extensive modification of CALAND.r and plot_caland.r would be required (i.e., not just a few localized changes) to respectively create and ingest csvs.

Incidentally, each of the 214 sheets in a scenario workbook can be readily converted into its own dataframe using

[2021-07-05 14:44] sbassett opened #72 "File paths too long for Windows Server 2012"
Hypothesis that "cannot open file" error is caused by path that is too long for Windows Server 2012.
```nchar("E:/Users/sbassett/Downloads/NWLAND-nwland_dev/outputs/2021_05_14_carbon_input_nwland_testB3_devAll_noOcean/figures/All_region/Developed_all/All_own/All_region_Developed_all_All_own_NWL_Proto_v1_Alt_A_protoA_hist_output_mean_BC1_NR120_ghg_ann_comp_diff_output.pdf") = 162```

Maximum file p

[2021-07-05 14:49] sbassett commented on #72
changing the outputs file name
E:/Users/sbassett/Downloads/NWLAND-nwland_dev/outputs/a
E:/Users/sbassett/Downloads/NWLAND-nwland_dev/outputs/2021_05_14_carbon_input_nwland_testB3_devAll_noOcean/
[code]

[2021-07-05 15:12] sbassett commented on #71
`plot_caland()` appears to be working on COGEOPROC.

![image](https://user-images.githubusercontent.com/3913946/124491855-f4ea3f00-dd70-11eb-8807-c5ad16a55967.png)

[2021-07-06 17:14] sbassett commented on #71
Code seems to be running fine on COGEOPROC! File path names need to be shorter than in the current GitHub repo (see #72) but no memory issues.

[code]

[2021-07-06 17:14] #71 closed, assigned to sbassett, aj1s

[2021-07-06 19:03] sbassett commented on #71
It may be worth experimenting a bit because it's unlikely to be a coincidence that the JVM maxed out at ~20GB when I specified 200GB.

See tables 5-2 and 5-3 here https://docs.oracle.com/cd/E15523_01/web.1111/e13814/jvm_tuning.htm#PERFM161
These look like different virtual machines, but the syntax for setting initial and maximum memory are consistent with what we use to get XLConnect to work.

It

[2021-07-12 19:50] sbassett commented on #31
Proto data developed see https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev/raw_data/proto_nwl_scenarios_v01_ha.xls

[2021-07-12 19:50] #31 closed, assigned to sbassett

[2021-07-12 19:53] #11 closed, assigned to sbassett

[2021-07-12 19:54] #1 closed

[2021-07-12 19:55] sbassett commented on #19
we will take a different track to include these distinctions

[2021-07-12 19:55] #19 closed, assigned to sbassett

[2021-07-12 19:55] sbassett commented on #18
we will use  different approach to model changes in these veg types

[2021-07-12 19:55] #18 closed, assigned to sbassett

[2021-07-12 19:56] sbassett commented on #17
Teresa completed this task.

[2021-07-12 19:56] #17 closed, assigned to nobody

[2021-07-12 19:56] #23 closed, assigned to nobody

[2021-07-14 13:17] sbassett opened #73 "Structured issue forms"
would this offer a faster way to add the crosswalk to the metamodel? https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/

[2021-07-15 08:55] aj1s opened #74 "caland() run on COGEOPROC – out of memory error when writing output"
Attempted replication of @sbassett's successful run of CALAND.r on COGEOPROC resulted in another java memory error (see also #69 and #62).

write_caland_inputs.r completed in < 1 min.

An initial run of CALAND.r ran then returned:
`Error: OutOfMemoryError (Java): GC Overhead limit exceeded`
Although this run took 3 hrs 50 min, it appears the error occurred when loading the input workbooks, as no i

[2021-07-15 19:55] aj1s commented on #74
Java memory allocation in 2021_05_28_testingWriteInputsWithPlaceholderData_noHere.r should be changed from:

this enables java to use up to 16GB of memory for reading and writing excel files
`options(java.parameters = "-Xmx32g" )  # originally set to "-Xmx8g"
`to

this enables java to use up to 400GB of memory for reading and writing excel files
`options(java.parameters = "-d64 -Xms50g -Xmx200g" )

[2021-07-15 20:45] sbassett opened #75 "Burn Severity Ratios"
Wildfire severity fraction
high = 0.26, medium = 0.29, and low = 0.45 from Lyderson et al., 2017

? group Med severity in with High severity ?

Independent of climate conditions; uniform across land categories

Burn severity mosaics from MTBS

[2021-07-15 20:48] sbassett opened #76 "Soil_Conservation historical flux, stocks, practices"

[2021-07-15 20:48] sbassett opened #77 "forest practices historical area of implementation"
from FACTS

[2021-07-26 15:32] sbassett commented on #75
Interesting decreasing trend in burn severity from MTBS: https://tnc.box.com/s/r62jykhyfj8i1swt77l1j7q6k97ppzkg
Can look at this on our Wednesday call.

Hypotheses:

1. As good fire increases, burn severity decreases.
2. Larger "boxes" around fires and increased firing operations decrease severity within "fire perimeter"
3. Non-forest fires dilute the signal that we expect to see.

[2021-07-26 17:50] sbassett commented on #40
addressed in https://github.com/TNC-NMFO/NWLAND/commit/17f809a41cf8103c71b6e4a1499790200613b826

[2021-07-26 17:52] sbassett commented on #40
see branch: https://github.com/TNC-NMFO/NWLAND/tree/nwland_dev_withWLIC

[2021-07-26 17:58] sbassett commented on #25
addressed in this branch https://github.com/TNC-NMFO/NWLAND/tree/nwland_dev_withWLIC

[2021-07-26 18:33] sbassett opened #78 "write_caland_inputs() reg_names hardcoded"
Currently the reg_names are hardcoded in write_caland_inputs().
The code should produce a vector of regions dynamically from the raw_data files.

The current workaround is to define the hardcoded variables in the script used to call the full run:
[code]

[2021-07-26 18:47] sbassett opened #79 "confirm CALAND scripts (e.g. write_caland_input.r) install and load required packages"
The scripts we use to call the CALAND functions includes code to install and load required packages.
I think some of this is to find missing packages before the slow process of reading the source scripts to memory.

Remove these references to packages that are not directly used by the script. The code necessary to ensure the required packages are installed by the script that depends on them should

[2021-07-27 16:36] sbassett commented on #15
coordinates for processing extent are not standard lat long, this workbook reverse engineers the extent coordinates used for CA and applies those same rules to CO&NM.
[ClimateExtentWorkspace.xlsx](https://github.com/TNC-NMFO/NWLAND/files/6887270/ClimateExtentWorkspace.xlsx)

[2021-07-28 16:30] #74 closed, assigned to aj1s

[2021-07-28 20:33] sbassett commented on #26
Teresa contacted COMET, has access to their data. Downloadable county-level data exists and is available.

[2021-08-03 19:45] sbassett opened #80 "iesm data processing match() error"
[code]

- NAs occur only in `lc_inds`
[code]
- NAs originate with `lc_inds = match(lc_ids, caland_df$Land_Cat_ID)`
[code]
- exporting both to .csv to evaluate differences between the two sets of LandCatIDs manually in Excel
  - these look like there are matches for all values
- following confirmation that values exist in the match tables, rerunning match() with values defined for nomatch, and inco

[2021-08-03 19:47] sbassett commented on #80
@aj1s @tchapman100 I've hit a wall on this. It's in the nwland_dev_withWLIC branch.

[2021-08-03 20:24] sbassett commented on #80
here are the csvs (converted to xlsx because GitHub won't take CSVs in comments) produced for lc_ids and caland_df$Land_Cat_ID
[Test_Land_Cat_ID.xlsx](https://github.com/TNC-NMFO/NWLAND/files/6926864/Test_Land_Cat_ID.xlsx)
[Test_lc_ids.xlsx](https://github.com/TNC-NMFO/NWLAND/files/6926865/Test_lc_ids.xlsx)

[2021-08-20 16:22] sbassett opened #81 "How are management practices applied to shrubland/savanna/woodland?"
Based on my current understanding only the Forest type has any of the forest management practices applied to it [so woodland and savanna get no Rx fire]. This needs to be confirmed in the code, but based on the lc_params.xls file, we might need to do some work to make sure we can model expected practices.

[2021-08-20 17:39] aj1s commented on #81
Based on a surficial look at the CALAND() (w/o running so as to inspect individual dataframes, and man_area_sum.df in particular),  all evidence I see indicates that:

(1)  Rx burn is strictly a forest management practice
(2) Savanna and woodland are subjected only to rangeland management practices (i.e., compost amendments at med_frequency (10yr) and low_frequency(30yr) intervals) that affect soi

[2021-09-07 19:25] aj1s commented on #77
Updating my script from the MNF IIP project at ORFO in 2019 to (1) align with the data schema used for FACTS activities data as compiled and hosted by the FS Geodata Clearinghouse, and (2) functionality of packages concurrent with R-4.1.0.

The script includes nine error traps/fixes, and data summaries.  Error trapping sidelined for the time being.

[2021-09-07 19:26] aj1s commented on #77
Script now works through three of four summaries. The fourth involves the introduction of -Inf values (caused by the division of negative numbers by zero.)  Once this is resolved, we can combine the data with a revised land category grid.

[2021-09-08 20:15] sbassett commented on #30
I know we (AJ and SB) discussed which scenarios modeled by Sohl are applicable to our RCP 4.5 and RCP 8.5 climate scenarios. I can't remember the outcome, but I do remember using this page for reference when making the decision. https://www.globalchange.gov/browse/multimedia/emissions-concentrations-and-temperature-projections

[2021-09-08 20:55] sbassett commented on #30
Sohl SRESs: B1,B2,A1B, and A2. https://www.sciencebase.gov/catalog/item/5b96c2f9e4b0702d0e826f6d

SRES B1 ~ RCP 4.5
SRES A1fi is best for RCP 8.5, SRES A2 is best for 8.5 of the SRESs modeled by Sohl.

[2021-09-09 13:50] sbassett opened #82 "Soil activity fluxes"
https://www.nature.com/articles/s41893-020-0491-z

[2021-09-21 15:29] sbassett opened #83 "LANDCAT Grid v2"
Documenting creation of the LANDCAT grid v2 in this issue.

[2021-09-21 15:32] sbassett commented on #83
K:\Projects\USCA_NCS_2020\Data\Proc\LandCategory\nmco_VegType_v2.tif

CALAND_Context | VegTypeID | VegType
-- | -- | --
Barren_Barren | 20 | Barren
Cultivated_Annual Crop | 130 | Cultivated
Cultivated_Annual Crop Irrigated | 130 | Cultivated
Cultivated_Pasture | 130 | Cultivated
Cultivated_Perennial Crop | 130 | Cultivated
Cultivated_Perennial Crop Irrigated | 130 | Cultivated
Cultivated_Perennial

[2021-09-21 16:50] sbassett commented on #83
Region (county) codes are FIPS, region names are FIPS prepended with "C".
NOTE: RegionID will be 4 digits for CO because the leading zero in Colorado's state FIPS code "04" is lost in the conversion to integer. New Mexico's state FIPS code does not have a leading zero so produces five digit region IDs (e.g. 35011).
K:\Projects\USCA_NCS_2020\Data\Proc\LandCategory\county_fipsInt_v2.tif

K:\Projects

[2021-09-21 17:50] sbassett commented on #83
Combined landcat raster: K:\Projects\USCA_NCS_2020\Data\Proc\LandCategory\landcat_2021_09_21.tif

[county_fip] *100000 + [nmco_VegTy] *100 + [nmco_LandO]

K:\Projects\USCA_NCS_2020\Data\Proc\LandCategory\landcat_2021_09_21_integer.tif

[2021-09-21 18:31] sbassett commented on #83
landcat grids are saved online here: [https://tnc.box.com/s/yxzfcc3zdnwrw9zan17tsi3f2k55uoid](https://tnc.box.com/s/yxzfcc3zdnwrw9zan17tsi3f2k55uoid)

[2021-09-22 21:23] sbassett opened #84 "Fluxes for Colorado"
region_nep_YYYY.tif from https://daac.ornl.gov/CMS/guides/AGB_NEP_Disturbance_US_Forests.html
mask landcats to NODATA for:
-  disturbed areas based on two point-in-time comparison derived from https://www.usgs.gov/core-science-systems/eros/lcmap
-  burned areas from NIFC/GeoMAC (https://data-nifc.opendata.arcgis.com/datasets/interagency-fire-perimeter-history-all-years/explore?location=43.578757%2

[2021-09-29 19:15] sbassett commented on #83
ownerCode | OwnName
-- | --
1 | BLM
2 | DOD
3 | FWS
4 | Local
5 | NPS
6 | Private
7 | State_Other
8 | State_Trust
9 | Tribal
10 | USFS
11 | Wilderness
12 | Fed_Other

[2021-09-29 21:40] sbassett opened #85 "Soil Conservation Activity Fluxes"
Take county-averages for suite of practices, weighted by practice implementation rate (e.g. 33%, 33%, 33% for three practices with no overlap).

[2021-09-29 23:22] sbassett commented on #80
Encountered this error again today with a slightly different code and different inputs.
in WLIC branch: GitHub\NWLAND\preproc\NWLAND_proc_iesm_climate_v2.r
Error thrown by `> scalar_out[v, dl, totyind, lc_inds] = lc_vals` [line 747]
`Error in scalar_out[v, dl, totyind, lc_inds] <- lc_vals :`
`  NAs are not allowed in subscripted assignments`

[2021-09-29 23:24] #15 closed, assigned to sbassett

[2021-09-29 23:25] sbassett commented on #69
running on COGEOPROC limits memory errors because it has 265GB RAM

[2021-09-29 23:25] #69 closed, assigned to sbassett, aj1s

[2021-09-29 23:26] #81 closed, assigned to sbassett

[2021-09-30 22:30] sbassett commented on #80
both `lc_ids` and `caland_df$Land_Cat_ID` are double
lc_ids is a "named number"
caland_df$Land_Cat_ID is just a plain number
[code]

maybe try this: https://stackoverflow.com/questions/15736719/how-do-i-extract-just-the-number-from-a-named-number-without-the-name

even matching with unname still doesn't work
[code]

[2021-09-30 22:56] sbassett commented on #80
New hypothesis from @aj1s: the num represented by scientific notation (e.g. 3.03e+08) is throwing the match() off.
Can try to convert the nums to ints using `as.integer(X)`.

This would work, except for the ridiculous 32-bit representation of integers that limits the number of values to around 2 billion.
[code]

Will try to match on text strings.

[code]
No dice!

[2021-10-04 23:12] sbassett commented on #80
Attempting to match a character representation of the thing to itself to see if produced valid output.
[code]
Self match works on both files. Now considering the easiest explanation (that there aren't actually matches).

[2021-10-04 23:19] sbassett commented on #80
There are indeed no matches.

@aj1s you were right to be skeptical, I shouldn't have trusted my prior review on a different dataset.

At least in the char_lc_ids and char_thing, there are no matches as tested by exporting CSVs and "find"ing values on Excel from char_lc_ids in char_thing.

It appears that land ownership codes are getting messed up in the lc_ids vector. The values in that vector end

[2021-10-05 03:04] sbassett commented on #80
I'm curious if its a result of the 32-bit integer problem. I'll assign a twodigit code for each county/region (since there are only 98 of them), and reproduce the landcat grid.

[2021-10-05 05:45] sbassett commented on #83
Because R uses 32bit integers and cant store values greater than ~2,000,000,000, and the landcatid for a county in NM is 3.5 billion,  I'm redoing the region code to be 2 digits long. With 97 counties, each county will receive it's own two-digit code.

K:\Projects\USCA_NCS_2020\Data\Proc\LandCategory\landcat_2021_10_04_integer.tif

Waiting on rerun.

[2021-10-05 06:22] sbassett commented on #80
merge() error resolved with two-digit county/region codes. New error received, will open new issue.
[code]

[2021-10-05 06:23] #80 closed, assigned to sbassett

[2021-10-05 06:28] sbassett opened #86 "iesm data processing error, unknown location, unknown cause"
[code]

top return = https://stackoverflow.com/questions/29814912/error-replacement-has-x-rows-data-has-y

[2021-10-05 15:00] sbassett commented on #86
@aj1s I have no idea where this error originates.
I'm going to go through line by line..
[code]

[2021-10-05 16:57] sbassett commented on #86
Error appears to originate between lines 829 and 843. Likely line 833.

[2021-10-05 18:14] sbassett commented on #86
[code]
checking constituent elements
[code]
Why does df_curr have no rows?

[2021-10-06 04:00] sbassett commented on #86
It looks like I misspecified the Land_Type attribute in one of the input datasets. I have codes (e.g. 40) instead of landtype name (e.g. "Desert") in the Land_Type field of `caland+df`

[code]

source of the error is traced to `nwland_landcat_2021_10_04_integer_areasqm.csv` will fix

[2021-10-06 05:30] sbassett commented on #86
all working now
estimating somewhere between 10 and 32 days for this processing to be completed [(3.5 hours*3maps*75sim-years)/24 hours-per-day = 32.8125 days 😱

[2021-10-06 05:30] #86 closed, assigned to sbassett

[2021-10-07 17:59] sbassett commented on #82
https://www.fs.fed.us/psw/publications/collins/psw_2016_collins008_dore.pdf

[2021-10-07 18:00] sbassett commented on #82
https://onlinelibrary.wiley.com/doi/10.1111/j.1365-2486.2008.01686.x

[2021-10-12 15:16] sbassett commented on #86
apparent success
[code]

[2021-10-12 15:29] sbassett opened #87 "climate scalars reporting no deviation from current (i.e. all scalars == 1)"
This preprocessing script is frustrating me. I propose we reach out to Alan on this one.
in [https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev_withWLIC/preproc/NWLAND_proc_iesm_climate_v4.r](https://github.com/TNC-NMFO/NWLAND/blob/nwland_dev_withWLIC/preproc/NWLAND_proc_iesm_climate_v4.r)

runs but produces scalars with zero variation:

[/preproc/scalarTesting/nwland_climate_c_scalars_iesm_rcp85_

[2021-10-12 15:50] sbassett commented on #87
Hypothesis 1 has not yet been rejected.
If (line 756):
[code]
Then: `lc_vals[which(is.nan(lc_vals))] = 1`  will make these values = 1.

[2021-10-14 18:13] aj1s commented on #87
Running script on small extent raster extracted from "landcat_2021_10_04_integer.tif". Will look for where NaNs (0/0) are being generated.  Ref: [https://stats.stackexchange.com/questions/5686/what-is-the-difference-between-nan-and-na](url)

If to no avail, then agreed: let's try Alan.

[2021-10-18 18:50] sbassett opened #88 "BAU Cultivated Conservation Practices"
Pulling data from https://quickstats.nass.usda.gov/.
Program = Census
Sector = Demographics?
Group = Farms & Land & Assets
Commodity = Practices

https://quickstats.nass.usda.gov/results/D0D623C3-F2B5-3123-B798-77034C9D5BAB

CRP data by county too:
https://www.fsa.usda.gov/programs-and-services/conservation-programs/reports-and-statistics/conservation-reserve-program-statistics/index

[2021-12-01 20:29] sbassett opened #89 "Revised Climate Scalars"
https://esgf-node.llnl.gov/search/cmip6/
CMIP6.ScenarioMIP.NCAR.CESM2-WACCM
ssp245
ssp585

cShrub
cTree
cSoil 1m

![image](https://user-images.githubusercontent.com/3913946/144309146-cd0a94d5-7de6-4e14-93ad-d45af612a068.png)

[2021-12-02 21:10] sbassett commented on #89
Increased productivity under climate change? These are 8.5 for tree tiles only.
![image](https://user-images.githubusercontent.com/3913946/144503448-b92e2723-3098-4029-9597-7422356b1afb.png)
![image](https://user-images.githubusercontent.com/3913946/144503517-d0d2417a-a6b0-46a7-bc80-223b8840e786.png)

This makes sense if growing season increases. Note the lower elevations have a big decrease in NP

[2021-12-02 21:46] sbassett commented on #89
Search here: https://esgf-node.llnl.gov/search/cmip6/
Experiment ID
 ssp245 (113)
 ssp585 (63)

CF Standard Name
 carbon mass in soil pool above 1m depth (37)
 net primary production on shrub tiles (33)
 net primary production on shrub tiles as carbon mass flux [kgc m-2 s-1] (14)
 net primary production on tree tiles (48)
 net primary production on tree tiles as carbon mass flux [kgc m-2 s-1] (14)

[2021-12-02 22:56] sbassett commented on #89
Need to fill zeros in 5-year running averages before calculating the scalar.
Can also replace zeros with slightly non-zero.

How do gaps in the data affect the output in CALAND?

[2021-12-27 19:34] sbassett opened #90 "burned area projections"
Need to supply burned area in ha for each ~~landcat~~ owner/region for each year.

Potentially use: https://datadryad.org/stash/landing/show?id=doi%3A10.6071%2FM3WQ1R
     These data have single estimates for whole-west burned area.
     Use west-wide burned area projections to scale burned area.

Also check out these data: https://www.sustglobal.com/insights/is-our-house-on-fire-the-future-of-cli

[2021-12-29 23:54] sbassett opened #91 "Run CALAND on COGEOPROC"
Put code and output here for access by full team: E:\Staging\NMFO\USCA_CONM_NWL

[2022-01-03 20:27] sbassett commented on #10
Closed, deprecated file.

[2022-01-03 20:27] #10 closed, assigned to aj1s

[2022-01-03 20:27] #12 closed, assigned to sbassett, aj1s

[2022-01-03 20:27] #13 closed, assigned to sbassett, aj1s

[2022-01-03 20:27] #36 closed, assigned to sbassett

[2022-01-03 20:28] #25 closed, assigned to sbassett

[2022-01-03 20:34] #83 closed, assigned to sbassett

[2022-01-03 20:47] sbassett commented on #30
Because of issue #51, will parameterize the model with projected future land use changes, but tell the model it's getting [historical] landcover changes. Annual values are processed to produce an average annual change through time, so instead of producing annual estimates will produce annual portion of average change estimates [interpolating from two years of data].

[2022-01-03 20:55] sbassett commented on #51
Will address in #30

[2022-01-03 20:55] #51 closed, assigned to sbassett, aj1s

[2022-01-03 20:57] sbassett commented on #87
Am using a manual approach to get climate scalars. See #89

[2022-01-03 20:57] #87 closed, assigned to sbassett

[2022-01-03 21:02] sbassett opened #92 "Rangeland management approach and initial estimates."
Use info from Max and Jeremy to produce a "restore" and "maintain" approach to range carbon.

[2022-01-03 21:02] aj1s commented on #30
Flagged for renewed self-assignment to @aj1s

[2022-01-03 21:06] sbassett commented on #90
See #41

[2022-01-03 21:06] sbassett commented on #41
see #75

[2022-01-03 21:11] sbassett commented on #75
See Lyderson et al., 2017, rely on peer reviewed analysis instead of making our own numbers.
high = 0.26, medium = 0.29, and low = 0.45
This is from one fire, so not particularly.

[2022-01-03 21:19] sbassett commented on #44
These are relatively easy to include with defaults [I think]. Am including in next run.

[2022-01-03 21:21] #41 closed, assigned to nobody

[2022-01-09 03:32] sbassett commented on #90
Burned area projections from CNRM-ESM2-1 [r4i1p1f2] for ssp245 and ssp585.
Extracted annual estimates from to centroids of unique owner/region zones using bilinear interpolation.
Data accessed as netCDF. Split out to monthly estimates using https://support.esri.com/en/technical-article/000011318.
Monthly burned areas summed to annual burned area.
Converted from percent of area to area-km by multip

[2022-01-09 03:34] sbassett commented on #90
Interannual variation might make the ssp245 and ssp585 output incompatible. If we see weird annual variation in the output, maybe we need to add a moving window average to smooth out some of the noise.

[2022-01-09 03:34] #90 closed, assigned to sbassett

[2022-01-09 06:05] sbassett commented on #89
Because we're using CNRM-ESM2-1 for the burned area estimates I'm inclined to use the same model for soil flux and npp climate scalars.

Primary and Secondary LUT used to define vegetation NPP. LUT=1 per https://www.agci.org/sites/default/files/pdfs/lib/main/19s4_09_16_0945_lawrence.LUMIP_.AGCI_.2019%20%282%29.pdf

npp reported in "kg m-2 s-1" do I need to convert from rate to something else?

"kg

[2022-01-11 18:29] sbassett commented on #89
Added with https://github.com/TNC-NMFO/NWLAND/commit/8da393b4fa1b4cdfe5092f975ef1a55d67d5cd6c

[2022-01-11 18:29] #89 closed, assigned to sbassett

[2022-01-11 18:29] sbassett commented on #89
There may still be a need to remove the water and ice landcovers for the vegetation scalars.

[2022-01-11 18:44] sbassett commented on #88
#### NASS Census 2017 Reported Conservation Practices
  | ConservationTill | NoTill | CoverCrop
-- | --: | --: | --:
CO BAU Total (acres) | 2,612,360 | 2,898,258 | 129,333
NM BAU Total (acres) | 213,306 | 137,281 | 52,721

[2022-01-11 18:52] sbassett commented on #88
#### BAU Values (acres)

(acres) | ConservationTill | NoTill | CoverCrop
-- | --: | --: | --:
C08001 | 146,529 | 299,115 | 3,241
C08003 | 12,103 | 1,010 | 6,674
C08005 | 25,216 | 68,128 | 1,177
C08007 | 0 | 1,193 | 302
C08009 | 221,921 | 124,188 | 2,666
C08011 | 10,322 | 11,369 | 1,500
C08013 | 4,526 | 3,619 | 1,545
C08014 | 4,999 | 0 | 234
C08015 | 0 | 366 | 59
C08017 | 137,980 | 216,335 | 4,510

[2022-01-11 19:39] sbassett commented on #88
#### Max Ambition
RegionName | TotalCultivatedArea(acres)
-- | --
C08001 | 586828
C08003 | 81082
C08005 | 136849
C08007 | 12532
C08009 | 742370
C08011 | 93280
C08013 | 38128
C08014 | 7695
C08015 | 17150
C08017 | 599063
C08019 | 924
C08021 | 131453
C08023 | 50567
C08025 | 30995
C08027 | 28989
C08029 | 69393
C08031 | 43
C08033 | 69871
C08035 | 26536
C08037 | 15360
C08039 | 189920
C08041 | 51531
C080

[2022-01-12 04:20] #88 closed, assigned to sbassett

[2022-01-12 04:43] sbassett commented on #85
Comet planner data: C:\Users\sbassett.TNC\Box\USCA Project (CO and NM)\Model Development\Data\US_COMET-Planner_Download_2021_09_29.xlsx

Attribute | Description
-- | --
total_ghg_co2 | Mean of total greenhouse gas emission   reductions in metric tonnes CO2 equivalent per acre per year (MT CO2e/ac/yr)
total_ghg_co2_sterr | Standard error of the mean for total greenhouse gas emission reductions   in

[2022-01-12 04:58] sbassett commented on #85
Will weight by irrigated/non-irrigated based on 2018 [irrigation census](https://www.nass.usda.gov/Publications/AgCensus/2017/Online_Resources/Farm_and_Ranch_Irrigation_Survey/fris_1_0002_0002.pdf).

Around 25% of "Land in farms (acres)" are "Acres irrigated".
State | Land in Farms (acres) | Acres irrigated | Proportion irrigated
-- | -- | -- | --
CO | 11,056,259* | 2,458,742 | 0.222385
NM | 1,825

[2022-01-12 05:55] sbassett commented on #85
C:\Users\sbassett.TNC\Documents\GitHub\NWLAND\raw_data\CultivatedLands_ActivityFlux_Workspace.xlsx

copy A28:G124 to lc_params sheet to close this issue

[2022-01-12 05:58] sbassett commented on #26
see #85

[2022-01-12 05:58] #26 closed, assigned to sbassett

[2022-01-12 05:59] sbassett commented on #76
see #85

[2022-01-12 05:59] #76 closed, assigned to sbassett

[2022-01-12 17:59] sbassett opened #93 "Forest Management Activity Fluxes"
## BAU
From discussion with Kurt Mackes
- Thinning intensity (30% harvested)
- Harvest to slash rate (60% of cut biomass left on site)
- Harvest to energy rate (20% including firewood)
- Harvest to wood rate (20% sent to mills or other users)

From email from Amanda and Ethan:
- 80% of planted units being "reforested" is too high, success rate is lower [SB guess 60%?]
- given current investments:

[2022-01-12 18:01] sbassett commented on #30
Sohl reclassification:
0 = NODATA
1 — Water = Water
2 — Developed = Developed_all
3 — DISTURBED = Forest
4 — DISTURBED = Forest
5 — DISTURBED = Forest
6 — Mining = Developed
7 — Barren = Barren
8 — Deciduous Forest = Forest
9 — Evergreen Forest = Forest
10 — Mixed Forest = Forest
12 — Shrubland = Shrubland
13 — Cropland = Cultivated
14 — Hay/Pasture = Cultivated
15 — Herbaceous Wetland = Meadow
16

[2022-01-12 18:29] sbassett commented on #30
Lack of desert class in Sohl means we can't use them as a direct crosswalk. Will need to mask out developed_all and cultivated in the baseline landcat and create landcats updated to have 2100 4.5 and 2100 8.5 scenarios.

Aaron uploading the Sohl crosswalk here: ...\Box\USCA Project (CO and NM)\Model Development\Data\Sohl

- [ ] Check assumption that urban and cultivated expand.
- [ ] Ensure each b

[2022-01-12 18:52] sbassett commented on #30
Beginning with the baseline landcats

- Owner: K:\Projects\USCA_NCS_2020\Data\Proc\LandCategory\Landcat_2021_10_04_parts\Landcat_2021_10_04_OwnCode.tif
- Vegetation Type: K:\Projects\USCA_NCS_2020\Data\Proc\LandCategory\Landcat_2021_10_04_parts\Landcat_2021_10_04_VegTypeID.tif
- Region (County): K:\Projects\USCA_NCS_2020\Data\Proc\LandCategory\Landcat_2021_10_04_parts\Landcat_2021_10_04_RegionCode

[2022-01-12 18:54] sbassett commented on #83
regionCode | RegionName
-- | --
1 | C08001
2 | C08003
3 | C08005
4 | C08007
5 | C08009
6 | C08011
7 | C08013
8 | C08014
9 | C08015
10 | C08017
11 | C08019
12 | C08021
13 | C08023
14 | C08025
15 | C08027
16 | C08029
17 | C08031
18 | C08033
19 | C08035
20 | C08037
21 | C08039
22 | C08041
23 | C08043
24 | C08045
25 | C08047
26 | C08049
27 | C08051
28 | C08053
29 | C08055
30 | C08057
31 | C08059
32 |

[2022-01-12 19:49] sbassett commented on #30
Create forecast vegetation layers:
Con(("Sohl_CONM_A2_y2100.tif" == 2) | ("Sohl_CONM_A2_y2100.tif" == 6) , 160,
Con(("Sohl_CONM_A2_y2100.tif" == 6) | ("Sohl_CONM_A2_y2100.tif"==13) , 130,
"Landcat_2021_10_04_VegTypeID.tif")) = K:\Projects\USCA_NCS_2020\Data\Proc\LandCategory\ClimateProjections\VegType_2100_A2.tif

K:\Projects\USCA_NCS_2020\Data\Proc\LandCategory\ClimateProjections\VegType_2100_B1.

[2022-01-12 20:04] sbassett commented on #30
Combine all layers into landcats representing 2100 scenarios.
K:\Projects\USCA_NCS_2020\Data\Proc\LandCategory\ClimateProjections\landcat_2100_RCP85.tif
Failing with errors 010158 and 010067

[2022-01-13 03:13] sbassett opened #94 "forest MAX ambition"
Assume acres are thinned where dry forest and VCC is IIB, IIIA, or IIIB.
Assume all dry forest is burned once in the next decade.

[2022-01-13 05:46] sbassett commented on #94
If large proportions of a landcat were treated during the BAU sampling period, the MAX ambition will be lower than the BAU...

Region | Land_Type | Ownership | Management | start_year | end_year | start_area | end_area | start_area_frac | end_area_frac | TempLandCatID
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
C35001 | Forest | USFS | Thinning | 2021 | 2030 | 4673 | 1916.500874 | NA | NA

[2022-01-13 16:44] sbassett opened #95 "write_caland_inputs readcsv error"
[code]

[2022-01-13 16:45] sbassett commented on #95
in write_caland_inputs, line 312 needs to be set to the second year in the "orig" landcover change files
```ref_year = 2100 #this is the second year in the original method files```

[2022-01-13 16:48] sbassett commented on #95
seems to be working after https://github.com/TNC-NMFO/NWLAND/commit/d6af6c50c284d73c8e2047e85f4e5909d59e4fa6

[2022-01-13 16:48] #95 closed, assigned to sbassett

[2022-01-13 16:50] sbassett opened #96 "burn_area_ann matrix index error"
[code]
Likely a problem with how I crafted the burned area projection files.

[2022-01-13 17:04] sbassett commented on #96
replacing NAs in matrix with 0.0 is failing.
It look slike this can happen if there are no NAs to replace

adding an if statement to only do the replacement if there are NAs present
[code]
working after commit https://github.com/TNC-NMFO/NWLAND/commit/625255f1fe7fb9f5579a132c1caab43e6f478805

[2022-01-13 17:04] #96 closed, assigned to sbassett

[2022-01-13 17:14] sbassett opened #97 "high severity burned area error"
"replacement has length zero"

[code]

[2022-01-13 18:02] sbassett opened #98 "hard coded climate tag file name checks"
hard-coded for our climate scalars
[code]

[2022-01-13 18:03] #98 closed, assigned to sbassett

[2022-01-13 18:05] sbassett opened #99 "write_caland_inputs assumed 2010 starting year in output names"
we can fix this in post-processing for now, but would be nice to fix
[code]

[2022-01-13 18:08] sbassett opened #100 "write_caland_inputs hardcoded landcat component names"
CALAND landcat region/landType/ownership are hard coded on ~line 273

[code]

can override this when calling the function but am going to hard-code our values here for now

[code]

[2022-01-13 18:10] #100 closed, assigned to sbassett

[2022-01-13 18:13] sbassett opened #101 "write_caland_inputs "initial year burn area""
what the heck is this on approx line 444?
[code]
 will hard code to the first decade of the simulation.
I hope this draws from the annual burned area projections files...
[code]

[2022-01-13 18:13] sbassett commented on #101
hopefully this solves #97

[2022-01-13 18:25] sbassett commented on #97
This seems to have been resolved with https://github.com/TNC-NMFO/NWLAND/commit/f16f47e77baba720c152091018fe45a6599949f8

[2022-01-13 18:25] #97 closed, assigned to sbassett

[2022-01-13 18:25] #101 closed, assigned to sbassett

[2022-01-13 18:26] sbassett opened #102 "write_caland_inputs "in_c_df_list[[val_index]]" error"
[code]

I'm guessing this originates at line 1584
[code]

[2022-01-13 19:05] sbassett commented on #102
@aj1s this might relate to the absence of the standard error files, but that seems unlikely because we didn't include them in the "proto" runs and everything turned out fine.

I don't think it is, but want to get this on your radar in case it turns out we need to throw together the SE files.

[2022-01-13 19:35] sbassett commented on #102
adding this between the source call adn teh function call
[code]
this didn't help

[2022-01-13 19:38] sbassett commented on #102
adding the correct short list of carbon files to the original function call didn't work either!

[2022-01-13 19:56] sbassett commented on #102
Running the code in isolation works, so my hypothesis that this is from line 1584 is likely incorrect.

[2022-01-13 20:07] sbassett opened #103 "write_caland_inputs Developed_all regional C densities hardcoded"
line 468
[code]

assuming the first quartile of the CA regional values for all cities
[code]

[2022-01-13 20:11] #103 closed, assigned to sbassett

[2022-01-13 20:14] sbassett opened #104 "write_caland_inputs hardcoded forest regional npp values"
line 502

[code]

replaced with values extracted from the lc_params file developed by AJones from flux tower data

[code]

[2022-01-13 20:24] sbassett opened #105 "write caland inputs hard coded check of matching"
line 715
[code]
commenting this out because it's  hard-coded landcat ID

[2022-01-13 20:24] #105 closed, assigned to sbassett

[2022-01-13 20:29] sbassett opened #106 "write_caland_inputs problem with scenario file"
produced in the loop on line 940 [```for (i in 1:num_scenin_sheets)```]
[code]

[2022-01-13 20:31] sbassett commented on #106
These are NA values to begin with so doesn't look like these warnings are a problem.

[2022-01-13 20:31] #106 closed, assigned to sbassett

[2022-01-13 20:35] #104 closed, assigned to sbassett

[2022-01-13 20:40] sbassett commented on #102
Running write_caland_inputs line by line. Have found some other funky stuff. Just now getting back to the section that deals with ```in_c_df_list```.

Error happens in the fore each carbon pool chunk between line 1592 and line 1845.

Stepping through the lines inside that loop now.

Error thrown by line 1600:
[code]

[2022-01-13 20:57] sbassett commented on #102
```in_c_df_list[[val_index]]``` appears empty

val_index returns "integer(0)"

file_found is integer(0) too, so it isn;t finding the right files..

it's searching for lower case "agc, so maybe need to make the file names lower case too?
line 1594

**_!!!! git isn't case sensitive, how will pushing the renamed files be handled? Can I make git case sensitive?_**

[2022-01-13 21:05] sbassett commented on #102
will set grep function to not care about case instead ```ignore.case=TRUE```

[2022-01-13 21:06] #102 closed, assigned to sbassett

[2022-01-13 21:21] sbassett opened #107 "write_caland_inputs "fix.by(by.y, y)""
No idea where this originates,
[code]

[2022-01-13 21:30] sbassett commented on #107
Working through write_caland_inputs line by line.
Made it to line 1970, still going without error.
Error hits somewhere in the code chunk between line 1970 and 2340...
Will step through that section line by line.
Have made it to line 2204.
Looks like error originates on line 2305 (m=15, forest_man_ind =13)
[code]

[2022-01-13 21:39] sbassett commented on #107
[code]
Region is "missing" from ```param_df_list[[in_index]]```

[2022-01-13 21:41] aj1s commented on #107
So one of these two dfs may have a column the name of which differs from corresponding column in the initial area files. Ref: https://www.programmingr.com/r-error-messages/error-in-fix-byby-y-y-by-must-specify-a-uniquely-valid-column/

[2022-01-13 21:44] sbassett commented on #107
This may be an error introduced in the integration with the WLIC branch. Will want to check if the original branches (CALAND and CALAND+WLIC) have "Region" in them.

This appears to be from the ```lc_params``` file.

The WLIC branch appears to have used a new format for this sheet in the lc_params file: NWLAND\raw_data\lc_params_2020_12_14.xls (grass_manage sheet)

[2022-01-13 21:51] aj1s commented on #107
Our successful test run last summer was using the nwland_dev branch, not nwland_dev_wlic - that right?

[2022-01-13 22:56] sbassett opened #108 "CALAND.r error man_dead_df$Management"
[code]

[2022-01-13 23:13] sbassett opened #109 "CALAND.r "object 'value_col_range' not found""
approx line 394
[code]

[2022-01-14 03:25] sbassett commented on #109
This is a new argument to pass to CALAND that was added in the WLIC branch.

[2022-01-14 03:29] aj1s commented on #108
`dead_frac_in` is linearly interpolated over lines 1106 – 1109, but may contain missing value(s) preventing the new value assignments  –
per  []https://stackoverflow.com/questions/23396279/when-trying-to-replace-values-missing-values-are-not-allowed-in-subscripted-as/23396731

[2022-01-14 03:31] sbassett commented on #109
The reason this didn't show up during the run from the run script is it would be set to the default if not specified. When running line by line, I didn't set it and the default in the function wasn't applied. I'm going to back-burner this issue because the default value seemed to work.

[2022-01-14 03:34] sbassett commented on #108
Totally unfounded hypothesis had during park time: These errors were common when we had two different landcat sets. I wonder if there are differences in the landcat sets again. I may have introduced some by including all the future landcat codes that exist in 2100. They are zero in the baseline year, but if the model is trying to match things to all landcats it might throw this.

[2022-01-14 03:36] aj1s commented on #108
If so, I would think it would've thrown an error well before line 2106 ...

[2022-01-14 04:25] sbassett commented on #108
Have reached this error running line by line.

[code]

[2022-01-14 04:41] sbassett commented on #108
trying to replace NAs with 0.0 throw the error. Limited the script to only replace !is.na values with 0.0.
Relied on these to get syntax correct:
https://stackoverflow.com/questions/51027983/r-error-from-nas-to-0-duplicate-subscripts-for-column-in-data-frame
https://stackoverflow.com/questions/13172711/replace-na-with-0-in-a-data-frame-column
https://www.statology.org/r-is-not-na/

https://www.tut

[2022-01-14 05:50] sbassett opened #110 "reference year for calculating area changes from start year"
When used to project into the future the difference between the start year and ref year will be negative, how will this affect projections?
Do we need to fake the ref year back in time? Probably the best way to do it. Project backwards linearly to get a pre-start year ref year to give the model.

[2022-01-14 05:52] sbassett commented on #110
Make it year 2001 so the wrtie_calands_inputs code doesn;t need to change from CALAND Master.

[2022-01-14 16:59] sbassett opened #111 "asRan | write_caland_inputs | diff_area_ha no rows to aggregate"
[code]

[2022-01-14 17:10] sbassett opened #112 "asRan | write Caland inputs"

[2022-01-14 17:11] sbassett opened #113 "asRan | write Caland inputs | hard coded regions/landTypes/ownerships"
line 273
[code]

[2022-01-14 17:14] sbassett commented on #113
replacing  with correct lists
[code]

[2022-01-14 17:16] sbassett opened #114 "asRan | write_caland_inputs | years to average for the initial year burn area"
[code]

modified to

[code]

[2022-01-14 17:17] sbassett commented on #114
78e602f8602fa09383d80f179e2a86f468350c02

[2022-01-14 17:17] #114 closed, assigned to sbassett

[2022-01-14 17:19] sbassett opened #115 "asRan | write_caland_inputs | Developed_all above and below ground C density"
line 468
[code]

assuming the first quartile of the CA regional values for all cities
[code]

[2022-01-14 17:50] sbassett opened #116 "asRan | write_caland_inputs | forest regional npp values, all biomass"
hardcoded, replaced

[2022-01-14 18:43] sbassett commented on #111
better to check if this code needed rather than commenting out as unnecessary

[2022-01-14 18:43] #111 closed, assigned to sbassett, aj1s

[2022-01-14 18:56] sbassett opened #117 "asRan | writeCalandInputs | very low ref area"
[code]

[code]

[2022-01-14 19:13] sbassett opened #118 "asRan | caland | missing values are not allowed in subscripted assignments of data frames"
[code]

[2022-01-14 19:34] sbassett commented on #118
[code]

[code]

[2022-01-14 19:38] sbassett commented on #118
selecting undefined columns ?
[code]

[2022-01-14 20:37] sbassett commented on #118
two values for 2021 frac becasue of increased mortality?
mortality table has two values for 2021 (baseline year, and first year of increased mortality period)

will try getting rid of the increased mortality period

this worked!

[2022-01-14 20:38] sbassett opened #119 "asRan | caland | lulcc transition matrix does not match net area changes"
CALAND line 3994
[code]

[2022-01-14 20:39] sbassett commented on #118
to avoid this, have made the increased mortality exclude the start year, and made it a very small increase
forest_mort_fact = 1.01, #tiny increase to test hypothesis that this is mucking up mortality code later
  forest_mort_adj_first = 2023,
  forest_mort_adj_last = 2024,

[2022-01-14 21:25] sbassett commented on #119
I turned off this error,. Definitely bad coding practice but I don't have time to figure out what the error message means.

[2022-01-14 21:26] sbassett opened #120 "asRan | CALAND | numbers of columns of arguments do not match"
[code]

[2022-01-14 21:35] sbassett commented on #120
[code]

[2022-01-14 21:40] sbassett commented on #120
[code]

[2022-01-14 22:22] sbassett commented on #120
```own_conv_df_list_pre[[z]]``` has three extra attributes
row_sums
row_sums_diff
col_sums_diff

```conv_df_pre``` doesn't have them

am using dplyr's "bind_rows()" to mitigate this, could also add or drop the extra rows using base R if needed

[2022-01-14 23:53] sbassett commented on #119
This error added by Alan in this commit: https://github.com/aldivi/caland/commit/dd4cd61f5e314abd9212445fdd4afc47bd53b586

[2022-01-15 00:02] sbassett opened #121 "out of memory on local machine"
[code]

[2022-01-15 01:19] sbassett commented on #119
if ```row_bad_inds > 0``` is either true or false, is ```length(row_bad_inds > 0)``` always going to be 1 (either true or false)?
I guess this syntax doesn't work how I hypothesized.

[2022-01-15 21:26] sbassett opened #122 "onCoGeoProc | plot_caland | path to file"

[2022-01-15 21:39] aj1s opened #123 "On COGEOPROC: FileNotFoundException (Java)"
Runscript
`2022_01_14_NWLAND_3_plotCALAND_Series_runScript.R`
wherein
`data_dir = "./outputs/2022_01_15_output_conm_testCO_A_BAU45_vs_CPI45",`
cannot find the first scenario output from CALAND:
`CONM_BAU_v01_testCO_A_rcp45_climNA_output-mean_BC1_NR120.xls`

working dir is:
E:/Staging/NMFO/USCA_CONM_NWL/NWLAND
First scenario output is located here:
E:/Staging/NMFO/USCA_CONM_NWL/NWLAND/outputs/2022_

[2022-01-15 23:39] aj1s commented on #123
resolved by respectively setting
`data_dir = "outputs/2022_01_15_output_conm_testCO_A_rcp45_noOcean"`
or
`data_dir = "outputs/2022_01_15_output_conm_testCO_A_rcp85_noOcean"`

[2022-01-18 01:31] sbassett opened #124 "CO only | burned areas seem off"
2022_01_17_output_co_testCO_A_rcp45 ... All_region_All_land_All_own_Wildfire_area_output.pdf
Area burned should e much larger, at least 250,000 acres in a bad year.
![image](https://user-images.githubusercontent.com/3913946/149855325-868211cc-2366-4176-8809-57e553a726ea.png)

[2022-01-18 01:39] sbassett commented on #124
Why is CPI __outside__ of the BAU/MAX envelope?
![image](https://user-images.githubusercontent.com/3913946/149855919-cac71746-acc7-48a3-9baf-364829e362b0.png)

[2022-01-18 01:58] sbassett opened #125 "CO only | managed area spiking in CPI, maximizing in MAX"
I must have messed up the scenario implementation tables...
It's probably best for the thinning and Rx fire practices to apply them as a percent of each applicable LANDCAT annually
![image](https://user-images.githubusercontent.com/3913946/149857561-c0144cb7-5303-4da6-b5ef-b4484116e916.png)

[2022-01-18 02:02] sbassett opened #126 "CO only | leap in some metrics between 2021 and 2022"
e.g.
![image](https://user-images.githubusercontent.com/3913946/149857930-eada72bc-5e9c-4fa6-9ec0-8a933fe9caa4.png)

[2022-01-18 02:23] sbassett commented on #126
also All_region_All_land_All_own_CO_MAX_v01_solelyCO_A_rcp45_climNA_output_mean_BC1_NR120_ghg_ann_comp_output.pdf
![image](https://user-images.githubusercontent.com/3913946/149859955-149f7239-3dbb-44fc-95be-c6a958715ce5.png)

[2022-01-18 03:10] sbassett opened #127 "CO only | massive productivity?"
It comes out in the wash for the DIFF graphs, but seems really high.
Does this indicate the total carbon stock in CO nearly triples in the next 30 years?
![image](https://user-images.githubusercontent.com/3913946/149859627-613b9ac9-301f-4cf5-9bd9-7e4ca610b6b6.png)

[2022-01-18 05:46] sbassett opened #128 "better mortality data?"
https://esajournals.onlinelibrary.wiley.com/doi/full/10.1002/ecs2.3419

[2022-01-19 16:46] sbassett opened #129 "analysis period 2022–2051?"
I think the reason #126 has a leap is because our data starts in that year so anything scaled from an average would start with zero change and then immediately jump. This seems like something that could be fixed in the code or our inputs, but I'm curious if this same patter [#126] would be visible if the analysis period was shifted (in plotcaland?).

[2022-01-19 17:28] sbassett opened #130 "write_caland_inputs() | improved urban forest stocks"
http://climatereadytrees.ucdavis.edu/wp-content/uploads/2017/11/Str-Func-Value-of-Calif-Urban-Forests-2017-1-1.pdf

values for Fort Collins and Albuqueruque available, other climate zones also available

line 455 in write_caland_inputs

[2022-01-19 17:50] sbassett opened #131 "write_caland_inputs() | confirm vestigial nature of these forest NPP values for regions"
this code is only referenced in a section marked ```if(FALSE) {}``` so it seems like it can be commented out or removed

- [ ] test and document. If vestigial, comment and or otherwise remove

line 500 of write_caland_inputs
[code]

[2022-01-19 18:30] sbassett opened #132 "write_caland_inputs() | Range SOC for Gap Filling"
line 492
these are used to fill gaps in the underlying SOC data
I don't believe we have any data gaps so probably not something we need to update.
[code]

[2022-01-20 20:40] sbassett opened #133 "create branch from cogeoproc and pull request to nwland_dev"

[2022-01-20 20:55] sbassett opened #134 "prune branches from this repo"

[2022-01-27 00:04] sbassett commented on #83
Meadow is used to represent wetland restoration because the "wetland restoration" practice in caland is used solely for sacramento-san juaquin delta restoration to wetland from cultivated.

CALAND tech doc v3 says: Meadow restoration = Convert Shrubland, Grassland, Savanna, and Woodland to Meadow, based on availability of these source land types.

[2022-01-31 16:00] sbassett opened #135 "Sarah Marshall's wetland and riparian questions"
Thank you for sharing the latest pathways analysis results this morning, and I look forward to following up on wetlands and riparian areas. A couple wetland and riparian topics and questions that might help frame our conversation:

- What is the current status of how you’re planning to incorporate wetlands and riparian areas in the model (e.g., LANDFIRE vs. NWI)?
- Data gaps – It would be helpful

[2022-02-15 00:46] sbassett opened #136 "Test out mermaid diagrams"
https://github.blog/2022-02-14-include-diagrams-markdown-files-mermaid/

[code]

Doesn't look like it works in issues yet (using Android GitHub app)

[2022-03-07 15:28] sbassett opened #137 "Data Gaps"
This issue will be used to document data gaps, and to assist with providing the state of CO (first draft due 3/11):

- Data needs
- Monitoring needs
- Technical capacity needs
- Any other topline recommendations that came out of your modeling work.

### Urban Forestry

- Climate Ready Trees List
- Canopy Cover Maps
- Canopy Cover Targets (what provides acceptable level of ecosystem services?). Can

[2022-03-07 15:28] sbassett commented on #137
Maybe this should move to the Wiki?

[2022-03-08 01:57] sbassett commented on #137
https://twitter.com/Novick_Lab_IU/status/1500874360344793095?t=mkYKNL7-7J4CATbd0HKLVg&s=19

Great general guidance (just published)

https://onlinelibrary.wiley.com/doi/abs/10.1111/gcb.16156

_aj1s: "Unfortunately, I lost my journal access."_

Copy requested from lead author. 2022-03-10
[NbCS 20220303 clean.pdf](https://github.com/TNC-NMFO/NWLAND/files/8246190/NbCS.20220303.clean.pdf)

[2022-03-09 14:23] aj1s commented on #137
### Forest Management (cont)

- For (1) thinning / partial cuts, (2) understory treatments; (3) clearcuts; and (4) prescribed burns”:
         – fraction / pct of understory biomass converted to slash
         – fraction / pct of slash: (a) burned; (b) converted to energy; (c) utilized for wood produects; (d) left to decay

- For prescribed burns:
	 – amount of C released to atmosphere from (a) so

[2022-03-17 13:55] sbassett commented on #93
https://www.nature.com/articles/s41586-022-04438-1.epdf?sharing_token=8Mc3JFMrqfmL2JWnA2H289RgN0jAjWel9jnR3ZoTv0MO2xyj6_BKpAw2xgbog2ddGb6NgPYmZdrVf2JAPgjtXteyw_rEtRJomqAni4xvllsVh0-MFMxEsaTdby3wr1Hu8N_8svkNH1DJik_W9QhlqqXRGUV--a6eqmgXLMzF8OK4yYLx5vnV2KAGzv0mqihy

[2022-03-23 22:38] sbassett opened #138 "write_caland_inputs.R variants"
What's the dif between: _co_write_caland_inputs.R and write_caland_inputs.r?
write_caland_inputs.r is called in 2022_01_17_solelyCO_writeInputs.R, but _co_write_caland_inputs.R has a later save date.

[2022-03-24 17:21] sbassett commented on #138
_co_write_caland_inputs.R has only the CO regions in lines 373, dev carbon densities by region on line 466, and forest regional npp value on line 511.

[2022-03-24 17:24] sbassett commented on #138
These can likely be specified/overridden by defining these vectors in the calling script such as the regions in 2022_01_17_solelyCO_writeInputs.R

[2022-03-24 21:43] sbassett commented on #127
fixed here: https://tnc.box.com/s/caxu5xq9kr9lps9bz3wnc4g1yeemi81p
and c48ebe823714b3fc93a8dc77de0a446aadc1986b

[2022-03-25 21:31] #138 closed, assigned to sbassett

[2022-03-28 15:19] sbassett commented on #124
For annual burned area, updating the CNRM-ESM2-1 fire area files to correct for unit error, multiplying by 2.47105.
_co_fire_area_CNRM-ESM2-1_585.csv
_co_fire_area_CNRM-ESM2-1_245.csv

[2022-03-28 15:32] sbassett opened #139 "preflight checks CO 2022-03-28"
- [x] parameter_file = "lc_params_co.xls",
- [ ] scenarios_file = "scenarios_co_ac.xls",
- [x] climate_c_file = "climate_c_scalars_CNRM-ESM2-1_245_co.csv",
- [x] climate_c_file = "climate_c_scalars_CNRM-ESM2-1_585_co.csv",
- [x] fire_area_file = "fire_area_CNRM-ESM2-1_245_co.csv",
- [x] fire_area_file = "fire_area_CNRM-ESM2-1_585_co.csv",
- [x] mortality_file = "mortality_co.csv",
- [x] area_gis_f

[2022-03-28 18:48] sbassett opened #140 "CO forest management practices"
Forest management actions will be defined here for later inclusion in documentation and the lc_params_co.xls file.

## Afforestation

Afforestation is a special case and cannot be modeled at the same time as [Burned Area] Reforestation. I am focusing on the other forest management practices first. This management action is applied to model "Riparian Forest Restoration".

## Thinning

Several diffe

[2022-03-28 19:45] #127 closed, assigned to aj1s

[2022-03-28 19:52] #124 closed, assigned to sbassett

[2022-03-28 20:51] aj1s commented on #127
Initially (i.e., for the CO run in January), vegc_uptake and soilc_accum were calculated proportionally from Gross primary production (GPP), being the sum of net ecosystem exchange (NEE) and RECO (all autotrophic respiration processes).  This was an incorrect approach given as CALAND handles respiration separately from the above two parameters.

For the corrected summary flux estimates (see https:

[2022-03-28 21:24] sbassett commented on #125
The soil cultivation practice was incorrectly specified for the mid scenario, e.g.:
Region | Land_Type | Ownership | Management | start_year | end_year | start_area | end_area | start_area_frac | end_area_frac
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
C08001 | Cultivated | Private | Soil_conservation | 2021 | 2030 | 448885 | 561106.3 | NA | NA
C08001 | Cultivated | Private | Soil_conservatio

[2022-03-28 21:25] sbassett commented on #125
It's worth noting again that "forest/rangeland/cultivated management is annual area, restoration/afforestation is cumulative area gain, developed_all values are fractions of developed_all area (dead_removal and urban forest) or fractions of initial annual change in developed_all area (growth)".

[2022-03-29 16:41] sbassett commented on #133
[CALAND_CONM](https://github.com/TNC-NMFO/NWLAND/tree/CALAND_CONM)

[2022-03-29 16:41] #133 closed, assigned to nobody

[2022-03-29 20:26] sbassett opened #141 "LANDCAT ID as area of Rx fire for single landcat"
erroneous values for historical ambition of Rx on this land type replaced with 0.06 acres, what's the actual value?

C35059 | Woodland | Private | Prescribed_burn | 2021 | 2030 | 0.06 | 0.06 | NA | NA
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
C35059 | Woodland | Private | Prescribed_burn | 2031 | 2040 | 0.06 | 0.06 | NA | NA
C35059 | Woodland | Private | Prescribed_burn | 2041 | 2100 | 0.06

[2022-03-29 23:14] aj1s commented on #141
This is the only cut-paste error I'm seeing now in the revised Rx estimates. Thank you for the catch. The correct start_area and end_area for this record (LAND ID = 9509011) is 0.3170702 .

[2022-03-30 00:14] #141 closed, assigned to aj1s

[2022-03-30 01:42] aj1s commented on #140
@sbassett –  Regarding tab ‘conversion2ag_urban’ in ‘lc_params_co.xls’ (and in ‘lc_params_nm.xls’): Are we sound with the assumption that conversion of forest to ag or urban will follow clearcut removed fractions ? (Asking simply b/c the numbers are still in red).

[2022-03-30 03:14] sbassett commented on #125
- [x] Fixed for NM
- [ ] Fixed for CO

[2022-03-30 03:18] sbassett opened #142 "Hardcoded values in write_calands_inputs.R specified in run scripts"
In the NM write calands run script (runscript_writeInputs_NM.R), hardcoded values need to be specified.
These values can be pulled from the combined conm writecaland inputs that was used successfully on the Test A on Cogeoproc (i.e. write_calands_inputs.r).

[2022-03-30 03:21] sbassett opened #143 "preflight checks NM 2022-03-29"
- [x] parameter_file = "lc_params_nm.xls",
- [x] scenarios_file = "scenarios_nm_ac.xls",
- [x] climate_c_file = "climate_c_scalars_CNRM-ESM2-1_245_nm.csv",
- [x] climate_c_file = "climate_c_scalars_CNRM-ESM2-1_585_nm.csv",
- [x] fire_area_file = "fire_area_CNRM-ESM2-1_245_nm.csv",
- [x] fire_area_file = "fire_area_CNRM-ESM2-1_585_nm.csv",
- [x] mortality_file = "mortality_nm.csv",
- [x] area_gis_f

[2022-03-30 03:37] sbassett commented on #143
These are mostly a filtered version of the raw_data files prepended with \_nmco\_.
As with the CO raw_data files, the records for the other state are deleted, and the file is saved with the appropriate name.

[2022-03-30 03:44] sbassett commented on #143
Carbon stocks raw_data have "zone" fields as the unique identifier (e.g. 100002, 100003, 100004).
I can't remember the code crosswalk to county/state for this, need to look it up before filtering and deleting the CO records.

Region 65 is the first region for NM per https://github.com/TNC-NMFO/NWLAND/issues/83#issuecomment-1011353669.

Region < 65 will be deleted and then file will be saved as sto

[2022-03-30 04:33] sbassett commented on #143
I haven't convinced myself that the scenario files are correct yet for Thinning.

**Historical** and **Current** should be the same. The only Thinning practice present for these ambitions should be "Thinning_current". This practice should be the same level of implementation in all time periods.

**Potential** should be slightly different than Historical and Current (for thinning practices). "Thinn

[2022-03-30 05:20] sbassett commented on #143
ag_manage stats for NM brought from _conm_lc_params_testA.xls

[2022-03-30 05:39] aj1s commented on #143
@sbassett
I just returned here after 3.5 hours.  Not sure if you saw my e-mail near 8pm.  You've been busy.  If there are any Qs I can field, let me know. If there's anything yet that you want to hand off before the morning, I could work on something for 1.5 hours yet, or so. (?)

[2022-03-30 06:08] aj1s commented on #143
ref b376600

Initial run of 'runscript_writeInputs_NM.R' on COGEOPROC returns error:
`Error in eval(ei, envir) : object 'start_year' not found `
Though not yet a commit, I defined start_year and end_year at lines 32 and 33 (before they are called in line 34):
[code]
Running the script then returns error:
`Error in file(file, "rt") : cannot open the connection`
which appears to be a pathway (or pos

[2022-03-30 16:30] sbassett opened #144 "hard coded values depend on other params"
start_date and end_date are needed to process the hard-coded values

[2022-03-30 16:31] sbassett commented on #144
add:
[code]

- [x] NM
- [ ] CO

[2022-03-30 16:32] sbassett opened #145 "cannot open file 'raw_data/': Permission denied"
[code]

[2022-03-30 16:45] sbassett commented on #145
error originates near line 550 in write_caland_inputs.R
[code]

this line specificially: `start_area_in = read.csv(paste0(in_dir, area_gis_files_orig[styr_ind]), header=FALSE, stringsAsFactors=FALSE)`

[2022-03-30 16:47] sbassett commented on #145
the grep can't find the start year, because I changed it to 2022
need to change start year back to 2021
[code]

[2022-03-30 16:49] sbassett commented on #145
I think the start year can be adjusted later during processing and plotting, so changing start year back to 2021.

[2022-03-30 16:57] sbassett commented on #145
### New Mexico

- [x] hardcoded input
- [x] RCP 4.5
- [x] RCP 8.5

### Colorado

- [ ] hardcoded input
- [ ] RCP 4.5
- [ ] RCP 8.5

[2022-03-30 17:04] sbassett opened #146 "write_caland_inputs.R | object 'accum' not found"
This may be several compound errors. The error blocking the script is:
[code]
It happens in this console context:
[code]
Note the `Error: no veg or soil uptake records!` on the line prior to the 'real' error, which may trigger the merge error.

The merge error appears to be triggered on line 2086 of write_caland_inputs.R

[code]

[2022-03-30 17:40] sbassett opened #147 "scenario values need numeric?"
[code]

[2022-03-30 17:41] sbassett commented on #147
There are supposed to be NA's so we're ok!

[2022-03-30 17:41] #147 closed, assigned to sbassett

[2022-03-30 18:00] sbassett commented on #146
AE is null, length(AE) is 0
line 2069 requires AE to have a positive length

[code]
so if statements on lines 2031, 2039, 2048, and 2057 aren't triggered.

[2022-04-01 01:01] aj1s opened #148 "scenarios_nm_ac.xls: unequal record number between ambitions A, B and C, D"
Part of the disparity was resolved by removal of 816 records from C and D, per e647f0f7e453e7c34a3c115f766a62a87393360e

The remaining disparity is entirely due to the Thinning_* practices.  A,B have 816 unique combinations of Landcat + Thinning_*, where C,D have 864 unique combinations.  Looking now at whether A and B are missing 48 unique combos, or if (less likely, evidently) C and D have 48 du

[2022-04-01 01:31] aj1s commented on #148
48 combinations (16 landcats over the three time horizons) have Thinning_* acreages in C_Potential and D_Maximum, but not in A_Historical and B_Current:

C35001_Forest_USFS_Thinning
C35001_Woodland_USFS_Thinning
C35006_Forest_USFS_Thinning
C35006_Woodland_USFS_Thinning
C35015_Forest_USFS_Thinning
C35017_Forest_USFS_Thinning
C35027_Forest_USFS_Thinning
C35031_Forest_USFS_Thinning
C35047_Forest_USFS

[2022-04-01 01:47] sbassett opened #149 "solely NM | forest managed area seems off"
Scenario file is likely haywire...

- [ ] Weird zig zag in potential
- [ ] Potential area exceeds maximum area
- [ ] Stair-stepped BAU

![image](https://user-images.githubusercontent.com/3913946/161178595-94440c67-23bf-4fb9-91f6-277b98e57b53.png)

file:///C:/Users/Steve/Downloads/NWLAND_nm_20220330/outputs/output_nm/figs_85_nm/All_region/Forest/All_own/[All_region_Forest_All_own_Managed_area_outpu

[2022-04-01 02:20] aj1s commented on #149
Per #148: Historical areas in nm_scenarios_nm_ac.xls don't match what I have in the summarized/extrapolated FACTS data.  Thinking to temporarily commit an alternative NM scenarios file containing what I think are the correct historical values (for management in Forest and Woodland).

[2022-04-01 03:30] sbassett commented on #149
That sounds like a good plan.

Reverted deletion of Thinning_current because we need that practice to decrease from now until 2030 (while Thinning_potential and Thinning_maximum phase in). https://github.com/TNC-NMFO/NWLAND/commit/b70e4b39cb42509c0eec3b5418ed1f1fad25bf6a

[2022-04-01 03:40] sbassett opened #150 "solely NM | productivity still seems very high"
Over 30 years the carbon stock doubles under the BAU-ish scenarios and under the C and D scenarios triples.
![image](https://user-images.githubusercontent.com/3913946/161190532-6982ae17-2088-48b4-b1fa-fbd1a083fcde.png)

[2022-04-01 03:52] sbassett commented on #149
A template like this would help with the calculations. It's probably more trouble than it's worth right now, but long-term would make the projections easier.
[USCA_NM_ThinningWorksheet.xlsx](https://github.com/TNC-NMFO/NWLAND/files/8394567/USCA_NM_ThinningWorksheet.xlsx)

[2022-04-01 04:02] sbassett opened #151 "solely NM | bad start year for restoration"
the start year is 2040 for one of the meadow restoration practices, at least in the Max scenario.

[2022-04-01 04:06] aj1s commented on #151
We'll probably need to repopulate B, C, and D in accord with the revised A (see df49f8fe1d15a935f69f5fab1c78c9364ddec03f).

[2022-04-01 04:13] aj1s commented on #149
I need to correct Partial_cut areas in the FACTS tab 4876c4602b025cb12a20054cae4c2853ee3e0e70. Within 5 minutes, I will either amend the commit, or add another commit if you've changed the scenarios_nm_ac.xls again in the meantime.

I've corrected the above Partial_cut areas in the introduced tab with df49f8fe1d15a935f69f5fab1c78c9364ddec03f.
scenario_nm_ac.xls is ready for you to review (if you'v

[2022-04-01 19:01] aj1s opened #152 "Error on run of runscript_writeInputs_NM.r"
[code]
c_file: Assigns a name to the carbon input file that write_caland_inputs() will create for CALAND() (needs to be .xls); default is c_file = "carbon_input_nwl.xls".

[2022-04-01 22:27] sbassett commented on #149
![image](https://user-images.githubusercontent.com/3913946/161350067-a696292e-835e-4e71-9383-7adaedf238dd.png)

[2022-04-01 22:36] sbassett commented on #150
![image](https://user-images.githubusercontent.com/3913946/161350713-04059fab-1dc0-4ac1-b587-d7f89f2b9915.png)

[2022-04-02 21:07] sbassett commented on #149
Potential scenario has Prescribed_burn through the roof!
![image](https://user-images.githubusercontent.com/3913946/161401230-e25d3378-c852-414a-b86a-19d5a42cd3ed.png)

[2022-04-03 05:35] sbassett opened #153 "WARNING: regenerating all forest after fire due to lack of potential converted..."
This crops up a lot during CALAND.R runs. Should we include some placeholder shrubs in each Region to give "potential converted" destinations for the non-regenerating acres to turn into?

[2022-04-03 05:40] aj1s commented on #153
Sounds legit enough.

[2022-04-03 05:50] sbassett opened #154 "solely NM | run synopsis for diagnostics"
[code]

[2022-04-03 05:52] sbassett commented on #154
`lcc carbon to atmos burned = 0` is fishy
I'm not sure what this metric means, but I'd expect carbon to atmosphere from fire to be non-zero for every simulation year, and certainly over the full simulation period.
Hopefully this is just the landover-change model, with solely development-driven landcover change

[2022-04-03 05:58] sbassett opened #155 "solely NM | Error in melt_dataframe(data, as.integer(id.ind - 1), as.integer(measure.ind - : function 'Rcpp_precious_remove' not provided by package 'Rcpp'"
[code]

[2022-04-03 06:03] sbassett commented on #155
I have this run set up on E:\Staging\NMFO\USCA\NWLAND\outputs\output_nm
It's nested in a slightly different place on E:\Staging than where we were copying the repo previously.

@aj1s When you're working next, can you try to run runscript_plot_caland_NM.R (through the rcp 4.5 section) and see if this error pops up?

[2022-04-03 06:05] sbassett commented on #155
Am going to try the guidance here:
https://stackoverflow.com/questions/68416435/rcpp-package-doesnt-include-rcpp-precious-remove

[2022-04-03 06:10] sbassett commented on #155
`update.packages('Rcpp')` seems to resolve the problem [R is currently "not responding" so inconclusive (2022-04-03-0018]
![image](https://user-images.githubusercontent.com/3913946/161414487-10a39474-8edd-4b16-a5e2-7244f3831d93.png)

[2022-04-03 14:41] sbassett commented on #155
Still hanging this morning. Closed out and tried again. Same error progression as before.
Now attempting on my local laptop.

Open Java version installed from here: https://adoptium.net/download/?link=https://github.com/adoptium/temurin17-binaries/releases/download/jdk-17.0.2%2B8/OpenJDK17U-jre_x64_windows_hotspot_17.0.2_8.msi

[2022-04-03 14:43] sbassett opened #156 "solely NM | Start plot_caland() at Sun Apr 03 08:39:25 2022 Error in `f()`: ! Insufficient values in manual scale. 4 needed but only 2 provided. Run `rlang::last_error()` to see where the error occurred."
Running the plot_caland runscript on local machine.
This sounds familiar! Will look back at early issues.

[2022-04-03 14:51] sbassett commented on #156
[code]

[2022-04-03 14:57] sbassett commented on #156
Hypotheses to test:

- [ ] Output files that are used by plot_caland() are materially different than the ones produced 4/1
  - [ ]  Check A_Historical_nm_rcp45_climNA_output_mean_BC1_NR120.xls from 4/2 against the file produced 4/1
- [ ] Different package versions need to the used
  - [ ] Check package versions against what Aaron used
- [ ] NM is different from CA and hardcoded values need to be o

[2022-04-03 15:07] sbassett commented on #156
Starting by attempting to run the code that Aaron successfully ran on COGEOPROC 4/1 on my laptop, using the same inputs.

Encountered error:
[code]

To me this indicates hypothesis 2 can't be rejected.

Will now check the two Vintages of output file `A_Historical_nm_rcp45_climNA_output_mean_BC1_NR120.xls` as suggested under Hypothesis 1.

[2022-04-03 15:31] sbassett commented on #156
I can't find any structural differences between the two vintages of A_Historical_nm_rcp45_climNA_output_mean_BC1_NR120.xls.
Will now check the other scenario outputs for consistency.

[2022-04-03 18:25] sbassett opened #157 "solely NM | while running plot_caland.R line by line, warnings triggered"
[code]

[2022-04-03 18:26] sbassett commented on #157
I'm not sure if this is a problem or not. Hopefully not, and the warning rather than error seems to support that.

[2022-04-03 18:27] sbassett commented on #156
While running line by line, I can get to line 2251 without error.
Error triggered in block that ends on line 2420.

[2022-04-03 18:30] sbassett commented on #156
Error originates at line 2269:
[code]

[2022-04-03 21:56] aj1s commented on #157
(This warning was also triggered upon the paired run of RCP 8.5.)

Might this stem from an untoward file path length, as in #72 ?

[2022-04-04 02:16] aj1s opened #158 "solely NM | warning triggered after run of CALAND()"
`In min(mortality_targetyears[hings]): no non-missing arguments to min ; returning Inf
`
Per the June 17th comment on #69, @sbassett determined that this warning derives from setting` forest mort_adj_last = 2024`.

[2022-04-04 22:01] aj1s opened #159 "Standardize Y-Axis scaling for pairwise comparison of figures"

[2022-04-04 23:04] sbassett opened #160 "match forest activity fluxes to McCauley Robles and Woolley"
Their assumptions are very different than ours for activity pool changes, fluxes and post-treatment productivity.

It would be neat to see how their assumptions change our results.

I don;t know that their assumptions are any better than ours, but it would give us grounds to evaluate our [and their] assumptions for suitability and reality.

https://www.researchgate.net/figure/Total-ecosystem-carbo

[2022-04-13 21:45] aj1s commented on #158
In Module 4 of the CALAND user training, Maegen noted that this warning can be safely disregarded.

[2022-04-13 21:45] #158 closed, assigned to sbassett, aj1s

[2022-04-15 15:44] sbassett commented on #160
From a cursory review of the McCauley et al, 2019, the biggest difference is in post-treatment changes in productivity. In the most recent run we assumed no change in productivity following treatment. Without additional data, this seems like a defensible assumption. Some studies in commercial timber harvest areas, post-treatment productivity has increased. Based on a cursory review of the availabl

[2022-04-15 16:00] sbassett commented on #160
The effects of treatment on post-treatment burn severities also seems important, but I can't find any studies that easily populate these assumptions.

[2022-04-17 03:43] aj1s opened #161 "solely NM | Error in data.frame() : args imply differing num of rows"
'runscript_CALAND_NM_solely85_unc.r' and 'runscript_plot_caland_NM_solely85_unc.r' generate outputs needed for uncertainty bounds and in the req'd dir organization.

However, 'runscript_plot_uncertainty_NM_solely85.r' (7f9191c8854de1bd20e34cb8a66089076d9496b9) returns:

`Error in data.frame(..., check.names = FALSE) : arguments imply differing number of rows: 90, 0`

It may be that the error is th

[2022-04-19 19:46] sbassett commented on #161
This seems like a lower priority than documentation and producing [mean] output. Moving to milestone 5.

[2022-04-19 20:28] sbassett opened #162 "baseline productivity (flux) still very high"
high baseline flux or mismatched mortality and fire projections?

[2022-04-19 20:29] sbassett opened #163 "post-treatment burn severity"
are our assumptions safe?

[2022-04-21 14:57] sbassett opened #164 "scenarios file | startarea_frac and endarea_frac need decimal proportion not percent"
For example this is the start of the file. I switch to percent at some point. Need to correct.
start_area_frac | end_area_frac
-- | --
1 | 1
1.00 | 1.00

- [x] Colorado scenarios file
- [x] New Mexico scenarios file

[2022-04-21 14:58] sbassett commented on #164
- [ ] Colorado scenarios file
- [ ] New Mexico scenarios file

[2022-04-21 14:59] sbassett opened #165 "scenarios files | some practices specified through 2100"
- [x] Colorado 2050 scenario end date throughout
- [ ] New Mexico 2050 scenario end date throughout

[2022-04-21 15:19] sbassett commented on #165
b4a2cf1

[2022-04-21 15:25] sbassett commented on #163
see #160

[2022-04-21 15:26] #160 closed, assigned to sbassett

[2022-04-21 17:24] #164 closed, assigned to sbassett

[2022-04-21 17:24] sbassett commented on #164
Confirmed NM was implemented correctly.

[2022-04-21 19:45] sbassett opened #166 "write_caland_inputs | "Sierra_Cascades" is used as a template [line 2131]"
sierra cascades is hardcoded as a template containing all forest-landowner combinations

[2022-04-21 20:04] sbassett opened #167 "lc_params_co | min.. max.. mean.. columns have same max value"
In CO the max value in the Min..., Max.. and Mean... values are all 3.589... in CA the max values in the columns are all different.

[2022-04-23 10:41] aj1s commented on #167
Summary stats of [vegc_uptake] recalculated in 'lc_params_co' with 9c6d7afddc43e60405f98703b38ec718c5ebb04b, and in 'lc_params_nm' with 85be1d214ec34663383ccf0faac7734291c1c2c6.

[2022-04-23 10:41] #167 closed, assigned to aj1s

[2022-04-25 19:57] sbassett commented on #126
Leap/spike still present.
![image](https://user-images.githubusercontent.com/3913946/165164998-a259074d-5634-45d5-8846-2b2c7938d823.png)

[2022-04-25 20:00] sbassett commented on #126
The spike is present in all Ambition scenarios so the "change from baseline" stats should all be valid.

This dramatic change netween 2021 and 2022 seems to stem from Developed_all:
outputs\output_co_rcp85\A_Historical_co_rcp85_climNA_output_mean_BC1_NR120.xls > All_orgC_den

All_region | Water | All_own | 101.62 | 100.22 | 98.86 | 97.49
-- | -- | -- | -- | -- | -- | --
All_region | Sparse | All_o

[2022-04-25 20:02] sbassett commented on #126
Hypotheses:

- [x] Scenario File Broken [Maybe dead removal needs to have the same 2021-2030, 2031-2040, and 2041-2050 time frames?]
- [x]  Jumps in developed area from landuse change projections?

Scenarios file doesn't need to have Dead_removal time periods match the other practices. [per example CALAND scenarios file]

Developed_all doesn't change unexpectedly in area between 2021 and 2022.

[2022-04-25 20:26] sbassett commented on #126
outputs\output_co_rcp85\A_Historical_co_rcp85_climNA_output_mean_BC1_NR120.xls > All_orgC_den

 Developed_all
Smallest changes between 2021 and 2022:
616002
516008
3316008
3916001
616007
3216005
LARGEST CHANGES in 2021-22:
2516008
2216011
2216001
216011
6116007
3416008

[2022-05-09 19:46] sbassett commented on #126
This is caused by the application of dead removal to a built up legacy pile of dead down and litter. To resolve, the litter and dead down are being removed from initial stock estimate sin developed_all land types/landCats.

[2022-05-13 05:31] aj1s commented on #126
@sbassett - In our 4/25 runs, we had seen this dramatic first-year drop in both CO and NM.   As noted above, we removed all but a trace of C in the dead down (DDC) and litter (LTC) pools within the Developed_all land_type. (Actual summary stats for the respective landcats in stocks_ddc_co.csv, stocks_ddc_nm.csv, stocks_ltc_co.csv, and stocks_ltc_nm.csv were set as: min = 0, max = 0.000002, mean =

[2022-05-13 05:38] sbassett commented on #126
@aj1s is this pattern solely present in the devloped_all (and all_land) landtype graphs?

Maybe output from an old 'pre-zeroed out DDC and LTC on delveoped_all' run is used as input for plot_caland()?

[2022-05-13 05:45] aj1s commented on #126
@sbassett
1/ yep -- evident only in developed_all and all_land for CO. However, the CO drop is not as dramatic as it appears at first; see respective magnitudes on the Y-axis, NM vs CO.
2/ On your 2nd Q: I highly doubt it as I ran write_caland_inputs.r and CALAND.r anew with each run, but good Q and I'll double-check.

[2022-05-13 19:02] sbassett commented on #126
![image](https://user-images.githubusercontent.com/3913946/168367563-57a913cb-4a96-4ca1-8ad0-93ebd63ad70c.png)
Input file still has 'non-basically zero' DDC an LTC values.

[2022-05-13 19:17] aj1s commented on #126
Yes, I would've expected these to be lower. However, they are comparable to the corresponding numbers in the NM input files.

[2022-05-14 03:19] aj1s commented on #107
In attempting to write new inputs following fb8d1e948f3ea23a764ef56c728b2a0e24436d07, both runscript_writeInputs_CO.r and runscript_writeInputs_NM.r return this same error:

`Error in fix.by(by.y, y) : 'by' must specify a uniquely valid column`

@sbassett I'm not tracking details above you wrote in January. Do you have any time to have a look ?

[2022-05-14 03:25] sbassett commented on #107
It looks like the standard deviation column name was altered ![Screenshot_20220513-212439.png](https://user-images.githubusercontent.com/3913946/168409012-da05fbe6-dd56-4ec3-8c72-1cc905f18ee6.png)

[2022-05-14 03:26] sbassett commented on #107
At least two of the stocks csv have the swapped column name.

[2022-05-14 03:28] aj1s commented on #107
@sbassett Thank you, hawkeye ... Probably moving faster than optimal in preparing files, but have 2am in my head.  I'll rename these and see if that does it.

[2022-05-14 03:43] aj1s commented on #107
Sorry to report that didn't (in itself) resolve this error.

[2022-05-14 04:01] aj1s commented on #107
Changing the stddev values for Developed_all in down-dead (DDC) and litter (LTC) from minuscule values to zero just in case they are still too high precision for the model.  Also pasting all new stocks (values-only) into corresponding stock csvs that worked two days ago, just in case I missed something w/ formatting.

5701ea1e24783384bd283a2ade8a092ac76e9048 did not resolve the error. I'm at a los

[2022-05-14 04:54] sbassett commented on #107
extra zero in the stocks_ddc_co.csv line 2 (end of row) seems to add extra column when parsed as CSV.

[2022-05-14 05:02] aj1s commented on #107
harpy eagle, maybe .... thanks.

There's also an extra zero in stocks_ltc_co.csv in the same place. Thanks.  Nuclear option running now for CO, but I'll make these tweaks (and clear columns after [sum_abs] for anything hidden) and see if they allow 'runscript_writeInputs_NM.r' to work. If so, I'll restart CO with new stock data.

[2022-05-14 05:14] aj1s commented on #107
I'l commit the tweaks above I guess, but they didn't resolve this issue (with 'runscript_writeInputs_NM.r' ).
'runscript_CALAND_CO_solely85_unc.r' is still running on the nuclear option, ie., inputs from two days ago with Developed_all zeroed out in input_co_rcp85_2022_04_02.csv  under and only under tabs ddc_2010 and ltc_2020.

[2022-05-14 05:40] aj1s commented on #107
Evidence is suggesting this error doesn't stem from the latest stock data (at least not in and of themselves).   I tried running 'runscript_writeInputs_NM.R' again after swapping in the stock data used in the successful run earlier this week, and was met with the same error.

[2022-05-14 06:03] sbassett opened #168 "runscript_writeInputs_CO.R | Warning message: Cell vegc_uptake!J17 cannot be converted from String to Numeric - returning NA"
line 927 in write_caland_inputs.r

[2022-05-14 06:06] sbassett commented on #168
extra space in that cell deleted

[2022-05-14 06:06] #168 closed, assigned to nobody

[2022-05-14 06:09] sbassett commented on #107
Tracing this through write_caland_inputs with the current arguments from runscript_writeInputs_co.R.

Error triggered between lines 1574 and 1835.
[code]
Error triggers on line 1592.
[code]
Investigating the dataframes being merged.
[code]
Culprit appears to be the zone field.

Web search returns this info: https://stackoverflow.com/questions/24568056/rs-read-csv-prepending-1st-column-name-with-ju

[2022-05-14 06:31] aj1s commented on #107
Thank you for the skillful birddogging !

I recall mistakenly exporting as Unicode text at some point instead of Text (Tab delimited). Realizing this, I thought I overwrote the former with the latter, but apparently I didn't. Ugh.

I need to get a few minutes of fresh air, but will work on stripping the artifuact once back.

[2022-05-14 06:32] sbassett commented on #107
Resaving file from excel didn't appear to work.
A few other workarounds for changing the encoding of a CSV here: https://stackoverflow.com/a/52799891

[2022-05-14 06:33] sbassett commented on #107
Gracias!

[2022-05-14 06:37] aj1s commented on #107
I'm still not sure why this occurred (as noted above): "I tried running 'runscript_writeInputs_NM.R' again after swapping in the stock data used in the successful run earlier this week, and was met with the same error." However, will plow ahead after fresh air stint, beginning with the Notepad++ suggestion. (Thanks for the SO link )

[2022-05-14 06:47] aj1s commented on #107
Ok, so suspense won over sanity, and ...  Encoding w/ Notepadd++ did the trick ! Thank you !!
e972203f989bd2a0346e048fef02b2925bdcb442

[2022-05-19 23:58] sbassett opened #169 "plot uncertainty file not found"
[code]

[2022-05-20 00:02] sbassett commented on #169
graphs and tables missing from NWLAND\outputs\output_co_rcp45
maybe I exited the unzip process early?

[2022-05-20 00:05] sbassett commented on #169
@aj1s the output file here is missing the graphs and data: https://tnc.app.box.com/s/9mzzl57jp31jje9apv057qwc6zdgor0l/file/957999962364

co8.5 looks like all are accounted for

[2022-05-20 00:42] aj1s commented on #169
@sbassett - The co4.5 outputs from plot_caland() are also missing on COGEOPROC. Mystifying, as I know I reviewed plots from each of the four runs last Sat. I'll look for them on my local, but in the meantime am starting plot_caland() again for co 4.5. **_Expected to finish ~ 8:45 pm_**, and I'll upload as v2.  Sorry for the trouble.

[2022-05-20 00:57] sbassett commented on #161
[code]
Tracing error back line by line in plot_uncertainty.r

input block:
[code]
error in for loop that begins on line 187
[code]
`in_df` on line 267 is empty

[2022-05-20 01:05] sbassett commented on #161
`snames` becomes empty on line 262 because GREP is looking for "S-" in the scenario names and can't find it.

should there be scenario names with "S-" in snames?

[code]

[2022-05-20 01:09] sbassett commented on #161
Nevermind, this code wouldn;t be encountered because figdirs[1]!=figdirs[2] as checked on line 254.

[2022-05-20 01:30] sbassett commented on #161
looking from line 272 on
[code]
our scenario names may be missing important data that tells the script what to do with the scenarios
[code]
because `scenarios[n]` has no occurrence of "_S" (as checked by line 275), it is then looking for "_S=mean" in "./outputs/output_co_rcp85/low/All_region/All_land/All_own/All_region_All_land_All_own_Total_CumCO2eq_all_diff_output.csv"

[2022-05-20 01:31] sbassett commented on #161
@aj1s this is lowish priority, but does "_S=mean" show up in the CALAND tutorials anywhere? Likely as some form of scenario naming convention?

[2022-05-20 02:15] aj1s commented on #161
@sbassett - Neither "_S=mean" nor "S=mean" appear specifically in any of the tutorials.  However, I assume it refers to a case where the CALAND.R argument "value_col_soilcon" is set to '8', by which a run will use the mean soil carbon flux estimate under soil conservation. This is the case with all of our mean CALAND.R runs, whereas with our low and upper bounded CALAND.R runs, this argument was s

[2022-05-20 02:34] sbassett commented on #161
Thank you @aj1s!
Changing the S=mean to S+ worked! We have uncertainty plots!
![image](https://user-images.githubusercontent.com/3913946/169437183-0c015c61-91c9-4e06-b5c9-38ad1a742c47.png)

[2022-05-20 02:46] sbassett commented on #161
![image](https://user-images.githubusercontent.com/3913946/169437684-1e1c0ce4-9c20-4b37-98c4-7272311bc2ce.png)

[2022-05-20 02:57] aj1s commented on #161
@sbassett Supernal ! Thanks for birddogging !

[2022-05-20 03:00] aj1s commented on #169
@sbassett - v2 of co 4.5 now up:
https://tnc.app.box.com/s/9mzzl57jp31jje9apv057qwc6zdgor0l/file/957999962364

[2022-09-22 16:02] sbassett commented on #42
@aj1s Did we end up using 50 meters of 150 meters for non-regeneration distance?

[2022-09-22 16:04] sbassett commented on #42
The value is set in CALAND() with the argument ```NR_Dist = 120``` and in the versions on GitHub it looks like 120m was used. It is what it is, but hoping to confirm.

[2022-09-27 21:39] aj1s commented on #42
Sorry, somehow I missed this question last week. We used 'NR_Dist' = 120 (meters).

From: Steve Bassett ***@***.***>
Sent: Thursday, September 22, 2022 10:02 AM
To: TNC-NMFO/NWLAND ***@***.***>
Cc: Aaron Jones ***@***.***>; Mention ***@***.***>
Subject: Re: [TNC-NMFO/NWLAND] Non-regeneration distance (#42)

@aj1s<https://github.com/aj1s> Did we end up using 50 meters of 150 meters for non-regenera

[2022-09-28 22:30] sbassett opened #170 "Find all final output"
On COGEOPROC
E:/Staging/NMFO/USCA/NWLAND/outputs/…
like: output_co_rcp45.zip? or unzipped?

[2022-09-28 22:30] sbassett commented on #170
COGEOPROC removed from COFO, now resides in NMFO.

[2022-10-06 20:18] aj1s commented on #170
Final outputs (including plots with uncertainty bounds) are now here:
[...\Box\USCA Project (CO and NM)\Results\Outputs_20220515_Unc_Final.zip ](https://tnc.box.com/s/mfti0kslsbhf1nux6x01g4v03go8v8bw)

[2022-10-06 20:20] #170 closed, assigned to sbassett, aj1s

[2022-10-06 20:22] aj1s commented on #169
See #170

[2022-10-06 20:22] #169 closed, assigned to sbassett